// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$i-account-black-name: 'i-account-black';
$i-account-black-x: 245px;
$i-account-black-y: 88px;
$i-account-black-offset-x: -245px;
$i-account-black-offset-y: -88px;
$i-account-black-width: 29px;
$i-account-black-height: 29px;
$i-account-black-total-width: 274px;
$i-account-black-total-height: 261px;
$i-account-black-image: '../img/sprite.png';
$i-account-black: (245px, 88px, -245px, -88px, 29px, 29px, 274px, 261px, '../img/sprite.png', 'i-account-black', );
$i-alarm-name: 'i-alarm';
$i-alarm-x: 167px;
$i-alarm-y: 137px;
$i-alarm-offset-x: -167px;
$i-alarm-offset-y: -137px;
$i-alarm-width: 32px;
$i-alarm-height: 28px;
$i-alarm-total-width: 274px;
$i-alarm-total-height: 261px;
$i-alarm-image: '../img/sprite.png';
$i-alarm: (167px, 137px, -167px, -137px, 32px, 28px, 274px, 261px, '../img/sprite.png', 'i-alarm', );
$i-angle-down-name: 'i-angle-down';
$i-angle-down-x: 32px;
$i-angle-down-y: 244px;
$i-angle-down-offset-x: -32px;
$i-angle-down-offset-y: -244px;
$i-angle-down-width: 11px;
$i-angle-down-height: 7px;
$i-angle-down-total-width: 274px;
$i-angle-down-total-height: 261px;
$i-angle-down-image: '../img/sprite.png';
$i-angle-down: (32px, 244px, -32px, -244px, 11px, 7px, 274px, 261px, '../img/sprite.png', 'i-angle-down', );
$i-arrow-toggle-up-name: 'i-arrow-toggle-up';
$i-arrow-toggle-up-x: 190px;
$i-arrow-toggle-up-y: 108px;
$i-arrow-toggle-up-offset-x: -190px;
$i-arrow-toggle-up-offset-y: -108px;
$i-arrow-toggle-up-width: 17px;
$i-arrow-toggle-up-height: 10px;
$i-arrow-toggle-up-total-width: 274px;
$i-arrow-toggle-up-total-height: 261px;
$i-arrow-toggle-up-image: '../img/sprite.png';
$i-arrow-toggle-up: (190px, 108px, -190px, -108px, 17px, 10px, 274px, 261px, '../img/sprite.png', 'i-arrow-toggle-up', );
$i-arrow-up-name: 'i-arrow-up';
$i-arrow-up-x: 110px;
$i-arrow-up-y: 137px;
$i-arrow-up-offset-x: -110px;
$i-arrow-up-offset-y: -137px;
$i-arrow-up-width: 42px;
$i-arrow-up-height: 34px;
$i-arrow-up-total-width: 274px;
$i-arrow-up-total-height: 261px;
$i-arrow-up-image: '../img/sprite.png';
$i-arrow-up: (110px, 137px, -110px, -137px, 42px, 34px, 274px, 261px, '../img/sprite.png', 'i-arrow-up', );
$i-breadcrumbs-arrow-name: 'i-breadcrumbs-arrow';
$i-breadcrumbs-arrow-x: 216px;
$i-breadcrumbs-arrow-y: 191px;
$i-breadcrumbs-arrow-offset-x: -216px;
$i-breadcrumbs-arrow-offset-y: -191px;
$i-breadcrumbs-arrow-width: 11px;
$i-breadcrumbs-arrow-height: 16px;
$i-breadcrumbs-arrow-total-width: 274px;
$i-breadcrumbs-arrow-total-height: 261px;
$i-breadcrumbs-arrow-image: '../img/sprite.png';
$i-breadcrumbs-arrow: (216px, 191px, -216px, -191px, 11px, 16px, 274px, 261px, '../img/sprite.png', 'i-breadcrumbs-arrow', );
$i-cart-black-name: 'i-cart-black';
$i-cart-black-x: 0px;
$i-cart-black-y: 191px;
$i-cart-black-offset-x: 0px;
$i-cart-black-offset-y: -191px;
$i-cart-black-width: 28px;
$i-cart-black-height: 38px;
$i-cart-black-total-width: 274px;
$i-cart-black-total-height: 261px;
$i-cart-black-image: '../img/sprite.png';
$i-cart-black: (0px, 191px, 0px, -191px, 28px, 38px, 274px, 261px, '../img/sprite.png', 'i-cart-black', );
$i-cart-white-name: 'i-cart-white';
$i-cart-white-x: 43px;
$i-cart-white-y: 191px;
$i-cart-white-offset-x: -43px;
$i-cart-white-offset-y: -191px;
$i-cart-white-width: 28px;
$i-cart-white-height: 38px;
$i-cart-white-total-width: 274px;
$i-cart-white-total-height: 261px;
$i-cart-white-image: '../img/sprite.png';
$i-cart-white: (43px, 191px, -43px, -191px, 28px, 38px, 274px, 261px, '../img/sprite.png', 'i-cart-white', );
$i-close-name: 'i-close';
$i-close-x: 245px;
$i-close-y: 176px;
$i-close-offset-x: -245px;
$i-close-offset-y: -176px;
$i-close-width: 18px;
$i-close-height: 18px;
$i-close-total-width: 274px;
$i-close-total-height: 261px;
$i-close-image: '../img/sprite.png';
$i-close: (245px, 176px, -245px, -176px, 18px, 18px, 274px, 261px, '../img/sprite.png', 'i-close', );
$i-facebook-white-name: 'i-facebook-white';
$i-facebook-white-x: 0px;
$i-facebook-white-y: 137px;
$i-facebook-white-offset-x: 0px;
$i-facebook-white-offset-y: -137px;
$i-facebook-white-width: 40px;
$i-facebook-white-height: 39px;
$i-facebook-white-total-width: 274px;
$i-facebook-white-total-height: 261px;
$i-facebook-white-image: '../img/sprite.png';
$i-facebook-white: (0px, 137px, 0px, -137px, 40px, 39px, 274px, 261px, '../img/sprite.png', 'i-facebook-white', );
$i-fb-black-name: 'i-fb-black';
$i-fb-black-x: 245px;
$i-fb-black-y: 44px;
$i-fb-black-offset-x: -245px;
$i-fb-black-offset-y: -44px;
$i-fb-black-width: 29px;
$i-fb-black-height: 29px;
$i-fb-black-total-width: 274px;
$i-fb-black-total-height: 261px;
$i-fb-black-image: '../img/sprite.png';
$i-fb-black: (245px, 44px, -245px, -44px, 29px, 29px, 274px, 261px, '../img/sprite.png', 'i-fb-black', );
$i-gplus-black-name: 'i-gplus-black';
$i-gplus-black-x: 245px;
$i-gplus-black-y: 0px;
$i-gplus-black-offset-x: -245px;
$i-gplus-black-offset-y: 0px;
$i-gplus-black-width: 29px;
$i-gplus-black-height: 29px;
$i-gplus-black-total-width: 274px;
$i-gplus-black-total-height: 261px;
$i-gplus-black-image: '../img/sprite.png';
$i-gplus-black: (245px, 0px, -245px, 0px, 29px, 29px, 274px, 261px, '../img/sprite.png', 'i-gplus-black', );
$i-gplus-white-name: 'i-gplus-white';
$i-gplus-white-x: 190px;
$i-gplus-white-y: 54px;
$i-gplus-white-offset-x: -190px;
$i-gplus-white-offset-y: -54px;
$i-gplus-white-width: 40px;
$i-gplus-white-height: 39px;
$i-gplus-white-total-width: 274px;
$i-gplus-white-total-height: 261px;
$i-gplus-white-image: '../img/sprite.png';
$i-gplus-white: (190px, 54px, -190px, -54px, 40px, 39px, 274px, 261px, '../img/sprite.png', 'i-gplus-white', );
$i-in-black-name: 'i-in-black';
$i-in-black-x: 172px;
$i-in-black-y: 191px;
$i-in-black-offset-x: -172px;
$i-in-black-offset-y: -191px;
$i-in-black-width: 29px;
$i-in-black-height: 29px;
$i-in-black-total-width: 274px;
$i-in-black-total-height: 261px;
$i-in-black-image: '../img/sprite.png';
$i-in-black: (172px, 191px, -172px, -191px, 29px, 29px, 274px, 261px, '../img/sprite.png', 'i-in-black', );
$i-in-white-name: 'i-in-white';
$i-in-white-x: 55px;
$i-in-white-y: 137px;
$i-in-white-offset-x: -55px;
$i-in-white-offset-y: -137px;
$i-in-white-width: 40px;
$i-in-white-height: 39px;
$i-in-white-total-width: 274px;
$i-in-white-total-height: 261px;
$i-in-white-image: '../img/sprite.png';
$i-in-white: (55px, 137px, -55px, -137px, 40px, 39px, 274px, 261px, '../img/sprite.png', 'i-in-white', );
$i-location-lg-black-name: 'i-location-lg-black';
$i-location-lg-black-x: 86px;
$i-location-lg-black-y: 191px;
$i-location-lg-black-offset-x: -86px;
$i-location-lg-black-offset-y: -191px;
$i-location-lg-black-width: 29px;
$i-location-lg-black-height: 36px;
$i-location-lg-black-total-width: 274px;
$i-location-lg-black-total-height: 261px;
$i-location-lg-black-image: '../img/sprite.png';
$i-location-lg-black: (86px, 191px, -86px, -191px, 29px, 36px, 274px, 261px, '../img/sprite.png', 'i-location-lg-black', );
$i-location-small-white-name: 'i-location-small-white';
$i-location-small-white-x: 245px;
$i-location-small-white-y: 209px;
$i-location-small-white-offset-x: -245px;
$i-location-small-white-offset-y: -209px;
$i-location-small-white-width: 16px;
$i-location-small-white-height: 19px;
$i-location-small-white-total-width: 274px;
$i-location-small-white-total-height: 261px;
$i-location-small-white-image: '../img/sprite.png';
$i-location-small-white: (245px, 209px, -245px, -209px, 16px, 19px, 274px, 261px, '../img/sprite.png', 'i-location-small-white', );
$i-menu-item-1-name: 'i-menu-item-1';
$i-menu-item-1-x: 138px;
$i-menu-item-1-y: 0px;
$i-menu-item-1-offset-x: -138px;
$i-menu-item-1-offset-y: 0px;
$i-menu-item-1-width: 37px;
$i-menu-item-1-height: 46px;
$i-menu-item-1-total-width: 274px;
$i-menu-item-1-total-height: 261px;
$i-menu-item-1-image: '../img/sprite.png';
$i-menu-item-1: (138px, 0px, -138px, 0px, 37px, 46px, 274px, 261px, '../img/sprite.png', 'i-menu-item-1', );
$i-menu-item-2-name: 'i-menu-item-2';
$i-menu-item-2-x: 138px;
$i-menu-item-2-y: 61px;
$i-menu-item-2-offset-x: -138px;
$i-menu-item-2-offset-y: -61px;
$i-menu-item-2-width: 32px;
$i-menu-item-2-height: 49px;
$i-menu-item-2-total-width: 274px;
$i-menu-item-2-total-height: 261px;
$i-menu-item-2-image: '../img/sprite.png';
$i-menu-item-2: (138px, 61px, -138px, -61px, 32px, 49px, 274px, 261px, '../img/sprite.png', 'i-menu-item-2', );
$i-menu-item-3-name: 'i-menu-item-3';
$i-menu-item-3-x: 0px;
$i-menu-item-3-y: 0px;
$i-menu-item-3-offset-x: 0px;
$i-menu-item-3-offset-y: 0px;
$i-menu-item-3-width: 52px;
$i-menu-item-3-height: 58px;
$i-menu-item-3-total-width: 274px;
$i-menu-item-3-total-height: 261px;
$i-menu-item-3-image: '../img/sprite.png';
$i-menu-item-3: (0px, 0px, 0px, 0px, 52px, 58px, 274px, 261px, '../img/sprite.png', 'i-menu-item-3', );
$i-menu-item-4-name: 'i-menu-item-4';
$i-menu-item-4-x: 0px;
$i-menu-item-4-y: 73px;
$i-menu-item-4-offset-x: 0px;
$i-menu-item-4-offset-y: -73px;
$i-menu-item-4-width: 40px;
$i-menu-item-4-height: 49px;
$i-menu-item-4-total-width: 274px;
$i-menu-item-4-total-height: 261px;
$i-menu-item-4-image: '../img/sprite.png';
$i-menu-item-4: (0px, 73px, 0px, -73px, 40px, 49px, 274px, 261px, '../img/sprite.png', 'i-menu-item-4', );
$i-menu-item-5-name: 'i-menu-item-5';
$i-menu-item-5-x: 67px;
$i-menu-item-5-y: 0px;
$i-menu-item-5-offset-x: -67px;
$i-menu-item-5-offset-y: 0px;
$i-menu-item-5-width: 56px;
$i-menu-item-5-height: 43px;
$i-menu-item-5-total-width: 274px;
$i-menu-item-5-total-height: 261px;
$i-menu-item-5-image: '../img/sprite.png';
$i-menu-item-5: (67px, 0px, -67px, 0px, 56px, 43px, 274px, 261px, '../img/sprite.png', 'i-menu-item-5', );
$i-menu-item-6-name: 'i-menu-item-6';
$i-menu-item-6-x: 55px;
$i-menu-item-6-y: 73px;
$i-menu-item-6-offset-x: -55px;
$i-menu-item-6-offset-y: -73px;
$i-menu-item-6-width: 43px;
$i-menu-item-6-height: 44px;
$i-menu-item-6-total-width: 274px;
$i-menu-item-6-total-height: 261px;
$i-menu-item-6-image: '../img/sprite.png';
$i-menu-item-6: (55px, 73px, -55px, -73px, 43px, 44px, 274px, 261px, '../img/sprite.png', 'i-menu-item-6', );
$i-phone-lg-black-name: 'i-phone-lg-black';
$i-phone-lg-black-x: 130px;
$i-phone-lg-black-y: 191px;
$i-phone-lg-black-offset-x: -130px;
$i-phone-lg-black-offset-y: -191px;
$i-phone-lg-black-width: 27px;
$i-phone-lg-black-height: 36px;
$i-phone-lg-black-total-width: 274px;
$i-phone-lg-black-total-height: 261px;
$i-phone-lg-black-image: '../img/sprite.png';
$i-phone-lg-black: (130px, 191px, -130px, -191px, 27px, 36px, 274px, 261px, '../img/sprite.png', 'i-phone-lg-black', );
$i-phone-small-white-name: 'i-phone-small-white';
$i-phone-small-white-x: 214px;
$i-phone-small-white-y: 137px;
$i-phone-small-white-offset-x: -214px;
$i-phone-small-white-offset-y: -137px;
$i-phone-small-white-width: 14px;
$i-phone-small-white-height: 21px;
$i-phone-small-white-total-width: 274px;
$i-phone-small-white-total-height: 261px;
$i-phone-small-white-image: '../img/sprite.png';
$i-phone-small-white: (214px, 137px, -214px, -137px, 14px, 21px, 274px, 261px, '../img/sprite.png', 'i-phone-small-white', );
$i-qty-down-name: 'i-qty-down';
$i-qty-down-x: 222px;
$i-qty-down-y: 108px;
$i-qty-down-offset-x: -222px;
$i-qty-down-offset-y: -108px;
$i-qty-down-width: 7px;
$i-qty-down-height: 5px;
$i-qty-down-total-width: 274px;
$i-qty-down-total-height: 261px;
$i-qty-down-image: '../img/sprite.png';
$i-qty-down: (222px, 108px, -222px, -108px, 7px, 5px, 274px, 261px, '../img/sprite.png', 'i-qty-down', );
$i-qty-up-name: 'i-qty-up';
$i-qty-up-x: 113px;
$i-qty-up-y: 96px;
$i-qty-up-offset-x: -113px;
$i-qty-up-offset-y: -96px;
$i-qty-up-width: 7px;
$i-qty-up-height: 5px;
$i-qty-up-total-width: 274px;
$i-qty-up-total-height: 261px;
$i-qty-up-image: '../img/sprite.png';
$i-qty-up: (113px, 96px, -113px, -96px, 7px, 5px, 274px, 261px, '../img/sprite.png', 'i-qty-up', );
$i-red-star-name: 'i-red-star';
$i-red-star-x: 113px;
$i-red-star-y: 73px;
$i-red-star-offset-x: -113px;
$i-red-star-offset-y: -73px;
$i-red-star-width: 9px;
$i-red-star-height: 8px;
$i-red-star-total-width: 274px;
$i-red-star-total-height: 261px;
$i-red-star-image: '../img/sprite.png';
$i-red-star: (113px, 73px, -113px, -73px, 9px, 8px, 274px, 261px, '../img/sprite.png', 'i-red-star', );
$i-search-name: 'i-search';
$i-search-x: 0px;
$i-search-y: 244px;
$i-search-offset-x: 0px;
$i-search-offset-y: -244px;
$i-search-width: 17px;
$i-search-height: 17px;
$i-search-total-width: 274px;
$i-search-total-height: 261px;
$i-search-image: '../img/sprite.png';
$i-search: (0px, 244px, 0px, -244px, 17px, 17px, 274px, 261px, '../img/sprite.png', 'i-search', );
$i-youtube-black-name: 'i-youtube-black';
$i-youtube-black-x: 245px;
$i-youtube-black-y: 132px;
$i-youtube-black-offset-x: -245px;
$i-youtube-black-offset-y: -132px;
$i-youtube-black-width: 29px;
$i-youtube-black-height: 29px;
$i-youtube-black-total-width: 274px;
$i-youtube-black-total-height: 261px;
$i-youtube-black-image: '../img/sprite.png';
$i-youtube-black: (245px, 132px, -245px, -132px, 29px, 29px, 274px, 261px, '../img/sprite.png', 'i-youtube-black', );
$i-youtube-white-name: 'i-youtube-white';
$i-youtube-white-x: 190px;
$i-youtube-white-y: 0px;
$i-youtube-white-offset-x: -190px;
$i-youtube-white-offset-y: 0px;
$i-youtube-white-width: 40px;
$i-youtube-white-height: 39px;
$i-youtube-white-total-width: 274px;
$i-youtube-white-total-height: 261px;
$i-youtube-white-image: '../img/sprite.png';
$i-youtube-white: (190px, 0px, -190px, 0px, 40px, 39px, 274px, 261px, '../img/sprite.png', 'i-youtube-white', );
$spritesheet-width: 274px;
$spritesheet-height: 261px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($i-account-black, $i-alarm, $i-angle-down, $i-arrow-toggle-up, $i-arrow-up, $i-breadcrumbs-arrow, $i-cart-black, $i-cart-white, $i-close, $i-facebook-white, $i-fb-black, $i-gplus-black, $i-gplus-white, $i-in-black, $i-in-white, $i-location-lg-black, $i-location-small-white, $i-menu-item-1, $i-menu-item-2, $i-menu-item-3, $i-menu-item-4, $i-menu-item-5, $i-menu-item-6, $i-phone-lg-black, $i-phone-small-white, $i-qty-down, $i-qty-up, $i-red-star, $i-search, $i-youtube-black, $i-youtube-white, );
$spritesheet: (274px, 261px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
