.b-account{
	display: block;
	font-size: 19px;
	font-weight: 600;
	color: #3d3f3c;
	i,
	span {
		vertical-align: middle;
//		@include fourK {
//			margin-left: 18px;
//		}
	}
	i{
		margin-right: 9.6px;
	}
    span{
        vertical-align: -6%;
        letter-spacing: .004em;
    }

	@include huge {
		font-size: 16.38px;
	}
//	@include twoK {
//		font-size:24px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}