.b-account{
	display: block;
	font-size: 19px;
	font-weight: 600;
	color: #3d3f3c;
	i,
	span {
		vertical-align: middle;
//		@include fourK {
//			margin-left: 18px;
//		}
	}
    
    i[class^="icon-"]{
		margin-right: 9.6px;
	
        @include huge{
            width: 21px;
            height: 21px;
            transform: scale(1);
        }
    }
    span{
        vertical-align: -6%;
        letter-spacing: .004em;
    }

	@include huge {
		line-height: 16.38px;
		font-size: 13.84px;
	}
//	@include twoK {
//		font-size:24px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}