.b-banners{
	position: relative;
	@extend %clearfix;
	margin-left: -10px;
	line-height: 0;
	text-align: center;
	z-index: 5;
}
.b-banner{
	display: inline-block;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-right: -0.24em;
	text-align: left;
}
.b-banner__link{
	position: relative;
	display: block;
	width: 316px;
	height: 229px;
	overflow: hidden;
	
//	@include phone {
//		width: 100%;
//	}
//	@include tablet {
//		width: 316px;
//	}
	
	img{
		display: block;
		transition: transform 250ms linear;
	}
	
	&:after{
		content:'';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all 250ms linear;
	}

	&:hover img{
		transform: scale3d(1.1,1.1,1.1);
	}
	&.is--orange:hover:after{
		background-color: rgba(239, 159, 42, .2);
	}
	&.is--green:hover:after{
		background-color: rgba(113, 157, 68, .2);
	}
	&.is--navy:hover:after{
		background-color: rgba(#167ebd,.2);
	}
	&.is--purple:hover:after{
		background-color: rgba(203, 50, 56, .2);
	}
	&.is--lime:hover:after{
		background-color: rgba(180, 208, 75, .2);
	}
}
.b-banner__title{
	position: absolute;
	bottom: 29px; 
	left: 0; right: 20px;
	padding-left: 12px;
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: -1px;
	color: #FFF;
	z-index: 10;
	
	&:after{
		content:'';
		position: absolute;
		top: 0;
		right: -14px;
		width: 0;
		height: 0;
		border-top: 28px solid #167ebd;
		border-right: 14px solid transparent;
	}

	&.is--orange{
		background-color: rgba(239, 159, 42, 1);
		
		&:after{
			border-top: 28px solid rgba(239, 159, 42, 1);
			border-right: 14px solid transparent;
		}
	}
	&.is--green{
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.13);
		background-color: rgba(113, 157, 68, 1);
		
		&:after{
			border-top: 28px solid rgba(113, 157, 68, 1);
			border-right: 14px solid transparent;
		}
	}
	&.is--navy{
		background-color: #167ebd;
		
		&:after{
			border-top: 28px solid #167ebd;
			border-right: 14px solid transparent;
		}
	}
	&.is--purple{
		background-color: rgba(203, 50, 56, 1);
		
		&:after{
			border-top: 28px solid rgba(203, 50, 56, 1);
			border-right: 14px solid transparent;
		}
	}
	&.is--lime{
		background-color: rgba(180, 208, 75, 1);
		
		&:after{
			border-top: 28px solid rgba(180, 208, 75, 1);
			border-right: 14px solid transparent;
		}
	}
}