.b-copyrights{
	padding: 41px 0 15px 3px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;
    
//	@include fourK {
//		font-size: 24px;
//	}
	@include pc {
		font-size: 17px;
	}

	a, span{
		color: #ffffff;
	}
}