.b-copyrights{
	padding: 41px 0 25px 3px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;

	a, span{
		color: #ffffff;
	}

//	@include fourK {
//		font-size: 24px;
//	}
}