.b-copyrights{
	padding: 41px 0 15px 3px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;
    
//	@include fourK {
//		font-size: 24px;
//	}
	@include huge{
        padding-top: 35px;
		font-size: 17px;
	}
	@include pc {
//		font-size: 17px;
	}
    @include note{
        order: 1;
        padding: 15px 0 5px;
        font-size: 14px;
    }
    @include tablet{
        font-size: 12px;
    }
    @include small{
        padding-bottom: 2px;
        font-size: 9.53px;
    }

	a, span{
		color: #ffffff;
	}
}