.b-filter{
	position: relative;
	margin-bottom: 60px;
    
    @include small{
        overflow: auto;
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        z-index: 1001;;
        margin-bottom: 0;
        width: 280px;
//        padding: 0 15px;
        background-color: #000;
        transform: translateX(0);
        transition: transform 500ms;
        
        &.is--visible{
            transform: translateX(280px);
        }
    }
}
.b-mobile-nav__heading_filter{
    display: none;
    font-size: 21px;
    text-transform: uppercase;
    
    @include phone{
        display: block;
    }
    
    .icon-close-white{
        margin-top: 7px;
        float: right;
        cursor: pointer;
    }
}
.b-filter__title{
	position: relative;
	margin: 0 0 27px;
	padding: 0 15px;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #0f0f0f;
    
    @include small{
        padding: 0;
        text-align: left;
        font-size: 16.61px;
        color: #fff;
    }
    
    .icon-toggler-white{
        display: none;
    }

	i{
		position: absolute;
		top: 10px;
		right: 3px;
		cursor: pointer;
        transform: scale(1);
		transition: transform .3s;
        
        @include pc{
            top: 9px;
        }

		.is--closed & {
			transform: rotate(180deg);
		}
        
        &.icon-toggler{
            @include pc{
                display: none;
            }
        }
        
        &.icon-toggler-white{
            @include pc{
                display: block;
                width: 14px;
                height: 8px;
            }
        }
	}

//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}
.b-filter__block{
	padding:0;
	margin-bottom: 21px;

	&.is--closed{
		margin-bottom: 0;
	}
    
    @include phone{
        padding: 0 15px;
    }
}
.b-filter__block-items{
	list-style-type: none;
	margin: 0; padding: 0;
	max-height: 175px;
	transition: all .3s;
	overflow-y: auto;
    
    @include phone{
        max-height: 165px;
    }

	.is--closed & {
		max-height: 0;
		overflow: hidden;
	}

	li {
		margin-bottom: 8px;
	}
    
    .g-checkbox:not(checked) + label:before {
        @include phone{
            height: 20px;
            width: 20px;
            background-color: #000;
        }
    }
    .g-checkbox:not(checked) + label:after {
        @include phone{
            top: 2px;
            left: 6px;
        }
    }

	label{
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		color: #0f0f0f;
//		@include twoK {
//			font-size: 21px;
//		}
//        @include fourK {
//          font-size: 30px;
//          line-height: 39px;
//        }
        @include phone{
            line-height: 20px;
            font-size: 13.29px;
            color: #fff;
        }
	}
    
    
}
.b-filter__slider-wrapper{
	margin-bottom: 35px;
	&.is--closed {
		margin-bottom: 0;
	}
    
    @include phone{
        padding: 0 15px;
    }
}
.b-filter__slider{
	max-height: 150px;
	transition: all .3s;
//    @include fourK {
//      max-height: 167px;
//    }

	.is--closed & {
		max-height: 0;
		overflow: hidden;
	}
    
    .b-filter__action{
        border: none;
        @include phone{
            padding: 0;
        }
    }
}
.b-filter__slider-inner{
	margin-bottom: 25px;
//    @include fourK {
//      margin-bottom: 43px;
//    }
}

.b-filter__action{
	text-align: center;
    
    @include phone{
        border-top: 1px solid #fff;
        padding: 18px 25px;
    }
    
    &:after{
        @include phone{
            content: '';
            display: table;
            clear: both;
        }
    }

	.g-btn{
		display: block;
		width: 100%;
        
        @include phone{
            margin: auto;
            width: 200px;
            border: 1px solid #fff;
            padding: 7px 10px 6px;
            font-size: 15px;
            line-height: 21px;
        }
	}
}

.b-filter__action-btn{
	display: none;
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
    background-color: #fff;
	color: #121212;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

//    @include fourK {
//      margin-top: 50px;
//      font-size: 29px;
//      line-height: 30px;
//    }@include fourK {
//      margin-top: 50px;
//      font-size: 29px;
//      line-height: 30px;
//    }
    @include phone{
        float: right;
        width: auto;
        border: 1px solid currentColor;
        padding: 5px 13px;
        background-color: #000;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        
    }
    
    &:first-child{
        display: block;
        
        @include phone{
            float: left;
            border-color: transparent;
            font-weight: 400;
        }
    }
    
//	&:hover,
//	&:focus{
//		display: block;
//		border: 0;
//		outline: 0;
//		padding: 0;
//		margin: 0;
//	}
}