.b-info-menu{
	margin: 0;
	padding: 0;
	list-style-type: none;
//	padding-left: 1.1%;
	@include clearfix();
}
.b-info-menu__item{
	float: left;
	margin-right: 58px;

	&:last-child{
		margin-right: 0;
	}

	@include huge {
		margin-right: 24px;
	}
}
.b-info-menu__link{
	display: block;
	padding: 5px 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #f5f5f5;

	@include huge {
		font-size: 16px;
	}
//	@include twoK {
//		font-size: 25px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}