.b-lang{
    position: relative;
	padding: 11px 2px;
	cursor: pointer;
	transition: all .3s;
    
    line-height: 20px;
	font-size: 19px;
	font-weight: 600;
	color: #3d3f3c;
	&:hover{
		background:#f5f5f5;
        text-decoration: underline;
        
        .b-lang__list{
            opacity: 1;
            visibility: visible;
            background:#f5f5f5;
        }
	}
}
.b-lang__current{
	position: relative;
	padding-right: 14px;
	line-height: 20px;
	font-size: 19px;
	font-weight: 600;
	color: #3d3f3c;
	cursor: pointer;

	&:after{
		content: '';
		position: absolute;
		top: 9px; right: 1px;
		@include triangle(3px, #3d3f3c, 'down');
//		@include twoK {
//			@include triangle(4px, #3d3f3c, 'down')
//		}
//		@include fourK {
//			@include triangle(6px, #3d3f3c, 'down');
//			top: 17px;
//		}
	}

//	@include huge {
//		font-size: 16px;
//	}
//	@include twoK {
//		font-size: 24px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}
.b-lang__list{
	visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
    z-index: 10;
	transition: all .3s;
}

.b-lang__item{
    padding: 5px 2px;
    
    a{
	    cursor: pointer;
    }
}