.b-logo{
	display: block;
	width: 100%;
//	padding: 9px 10px 10px 9px;
	background-color: #0f0f0f;
//	margin-left: 2.7%;
//	margin-top: 1%;
    >img{
        display: block;
        height: auto;
    }
}
.b-logo--simple{
//    margin-top: 0;
//    margin-left: 0;
    margin: auto;
    display: none;
	width: 205px;
    padding: 0px;
//	padding: 13px 20px 9px 10px;

//	@include fourK {
//		width: 319px;
//	}
	@include pc {
        position: relative;
        right: 3.2%;
        bottom: 3%;
		display: block;
	}
	@include note {
		width: 87px;
        height: 100%;
        padding-top: 5px;
        
//        &:before{
//            content: '';
//            display: inline-block;
//            height: 100%;
//        }
	}
    
	img {
		max-width: 100%;
        @include note {
            display: block;
        }
	}
}
.b-logo__inner{
	display: block;
	width: 100%;
//	padding: 16px 17px 10px 17px;
//	padding-bottom: 10px;
	border: 1px solid #fff;
    
	>img{
        display: block;
//		width: 92.2%;
        width: 82.8%;
        margin-left: 5.0%;
        margin-top: 4.68%;
	}
}
.b-logo__text{
	display: block;
//	padding-top: 12px;
	text-align: center;
    
	>img {
        display: block;
        width: 73.4%;
		margin-top: 5.2%;
        margin-left: 13.64%;
        margin-bottom: 4.5%;
	}
}