.b-location{
	position: relative;
	padding-left: 73px;
	font-size: 19px;
	line-height: 22px;
	font-weight: 600;
	color: #3d3f3c;

	&:before{
		content: '';
		position: absolute;
		left: 0; top: 5px;
		@include sprite($i-location-lg-black);
		@include fourK {
			transform: scale(2);
			margin-top: 18px;
			margin-right: 5px;
		}
	}

	@include huge {
		font-size: 16px;
	}

	@include twoK {
		font-size:24px;
	}
	@include fourK {
		font-size: 40px;
		line-height: 45px;
	}
}
.b-location__current{}
.b-location__more a{
	font-weight: 700;
	text-decoration: underline;
	color: #3d3f3c;
}