.b-location{
	position: relative;
	padding-left: 42px;
	font-size: 19px;
	line-height: 22.49px;
	font-weight: 600;
	color: #3d3f3c;
//	letter-spacing: -0.9px;
	letter-spacing: -.001em;
	margin-top: -1px;

	&:before{
		content: '';
		position: absolute;
		left: 0; top: 6px;
        width: 29px;
        height: 36px;
        background-image: url(../img/svg/i-location.svg);
//        filter: brightness(0);
        @include huge {
            transform: scale(0.9);
        }
//		@include sprite($i-location-lg-black);
//		@include fourK {
//			transform: scale(2);
//			margin-top: 18px;
//			margin-right: 5px;
//		}
	}

	@include huge {
		font-size: 16px;
	}
//
//	@include twoK {
//		font-size:24px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}
.b-location__icon{
    position: absolute;
    left: 0;
    top: 6px;
    width: 29px;
    height: 36px;
}
.b-location__current{}
.b-location__more a{
    display: inline-block;
	font-weight: 700;
    letter-spacing: 0.02em;
//	text-decoration: underline;
    text-decoration: none;
	color: #3d3f3c;
    &:after{
        content: '';
        position: relative;
        top: -1px;
        display: block;
        border-bottom: 1px solid #000;
    }
}