$button-width: 30px;                    // The width of the button area
$button-height: 25px;                   // The height of the button area
$bar-thickness: 3px;                    // The thickness of the button bars
$button-bar-space: 8px;                // The spacing between button bars

$button-width-xs: 21px;                    // The width of the button area
$button-height-xs: 16px;                   // The height of the button area
$bar-thickness-xs: 2px;                    // The thickness of the button bars
$button-bar-space-xs: 5px;                // The spacing between button bars

$button-pad: 0;                      // The left/right padding between button area and bars.
$menu-transistion-duration: 0.5s;
$button-transistion-duration: $menu-transistion-duration;     // The transition duration
$button-color: $color__primary;

@mixin hamburger-icon {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;    
    
    &:focus {
      outline: none;
    }
    
    @include small{
        width: $button-width-xs;
        height: $button-height-xs;
    }

    & span {
      display: block;
      position: absolute;
      top: ($button-height / 2) - ($bar-thickness / 2);
      left: $button-pad;
      right: $button-pad;
      height: $bar-thickness;
      background: $button-color;
        
        @include small{
            top: ($button-height-xs / 2) - ($bar-thickness-xs / 2);
            height: $bar-thickness-xs;
        }
    }

    & span::before,
    & span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-thickness;
      background-color: $button-color;
      content: "";
        
        @include small{
            height: $bar-thickness-xs;
        }
    }

    & span::before {
      top: -$bar-thickness - $button-bar-space;
        
        @include small{
            top: -$bar-thickness-xs - $button-bar-space-xs;
        }
    }

    & span::after {
      bottom: -$bar-thickness - $button-bar-space;
        
        @include small{
            bottom: -$bar-thickness-xs - $button-bar-space-xs;
        }
    }

    & span {
      transition: background 0s $button-transistion-duration;
    }

    & span::before,
    & span::after {
      transition-duration: $button-transistion-duration, $button-transistion-duration;
      transition-delay: $button-transistion-duration, 0s;
    }

    & span::before {
      /*! autoprefixer: off */
      transition-property: top, transform;
    }

    & span::after {
      /*! autoprefixer: off */
      transition-property: bottom, transform;
    }

    /* active state, i.e. menu open */
    &.is--active span {
      background: none;
    }

    &.is--active span::before {
      top: 0;
      transform: rotate(45deg);
    }

    &.is--active span::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    &.is--active span::before,
    &.is--active span::after {
      transition-delay: 0s, $button-transistion-duration;
    }
}

body:after{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 97;
    width: 100%;
    height: 100%;
  background: rgba(0,0,0,0.3);
    
    visibility: hidden;
  opacity: 0;
    transition: opacity $menu-transistion-duration, visibility 0s $menu-transistion-duration;
      
    @include pc{
        content: '';
    }
}
body.is--mobile-active{
  &:after{
      visibility: visible;
    opacity: 1;
    transition: opacity $menu-transistion-duration, visibility 0s;
  }
    
    .b-mobile-nav{
        @include pc{
            display: block!important;
        }
    }
}
.b-mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
//  bottom: 0;
  z-index: 1000;
//    display: none;
  visibility: hidden;
//    opacity: 0;
//  overflow: auto;
  width: 305px;
  height: 100%;
//  padding-top: 5px;
  background: $color__primary;
  transform: translateX(-100%);
  transition: transform $menu-transistion-duration, visibility 0s $menu-transistion-duration*1.5;    // 1.5 multiplier because in ios hides earlier
    text-transform: uppercase;
    color: #fff;

  &.is--visible{
    transform: translateX(0);
    transition: transform $menu-transistion-duration, visibility 0s;
      
    @include pc{
        visibility: visible;
    }
  }
}
.b-mobile-nav-icon,
.b-mobile-nav__toggle{
  display: none;
  @include hamburger-icon;

  @include pc {
    display: block;
  } 
}
.b-mobile-nav-icon{
  position: absolute;
  top: 30px; right: 20px;


  &.is--active span:after,
  &.is--active span:before {
    background:$color__primary;
  }

  @include pc {
    display: block;
  } 
}
.b-mobile-nav__toggle{
    position: absolute;
    top: 21px;
    right: -50px;
    transform: translateX(0);
    transition: transform $menu-transistion-duration;
    
    @include pc{
        visibility: visible;
    }
    @include small{
        top: 13px;
        right: -36px;
    }
    
    &:hover{
        will-change: transform;
    }

    &.is--active{
//        right: 6px;
        transform: translateX(-62px);
        
        @include small{
            transform: translateX(-52px);
        }
    }

  span,
  span:after,
  span:before{
    background: #ffffff;
  }
}
.b-mobile-nav__heading{
    padding: 9px 15px 8px;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    color: #fff;
//    border-bottom: 1px solid #191c1f;
    
    @include small{
//        padding: 8px 15px 9px;
        line-height: 25px;
    }
    
    .b-wrapper_icon-close{
        float: right;
        padding: 15px;
        margin-right: -15px;
        
        @include note{
            padding: 12px;
            margin-right: -12px;
        }
        @include small{
            margin-top: -9px;
            margin-right: -10px;
        }
        
        
        .icon-close-white{
            float: right;
            cursor: pointer;

            @include note{
                width: 25px;
                height: 25px;
            }
            @include small{
                margin-right: 2px;
                width: 18px;
                height: 18px;
            }
        }
    }
}
.b-mobile-nav_wrapper{
    height: calc(100% - 109px);
    overflow: auto;
//    display: none;
    @include note{
        height: calc(100% - 52px);
    }
}
.b-mobile-nav__list{
  @extend %list;
    border-top: 2px solid #191c1f;
    
    @include pc{
        border-top: none;
        padding: 12px 0;
        border-bottom: 2px solid #191c1f;
    }
    
    &:first-child{
        padding-top: 0;
    }
    &:last-child{
        border-bottom: 0;
    }
}
.b-mobile-nav__item{
    display: block;
    margin: 2px 0;
    
    &.opened{
        
        .b-mobile-nav__link_accordion{
            &:after{
                transform: rotate(0deg)
            }
        }
    }
}
.b-mobile-nav__link{
  display: block;
    padding: 8px 15px;
  font-size: 14px;
//  line-height: 28px;
  background: $color__primary;
  color: #ffffff;
    cursor: pointer;
    
    &:hover{
        text-decoration: underline;
    }
  
    @include pc{
        padding: 3px 15px;
    }
    
//  &:hover,
//  &.is--current{
//    background: #ffffff;
//    color: $color__primary;
//  }
}

.b-mobile-nav__link_accordion{
    position: relative;
    &:after{
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
        content: '';
        width: 14px;
        height: 8px;
        background-image: url(../img/svg/i-toggler-white.svg);
        transform: rotate(-180deg);
        transition: transform $time_short;
    }
    
//    &:hover{
//        &:after{
//            background-image: url(../img/svg/i-toggler.svg);
//        }
//    }
}

.b-mobile-subnav{
    padding-left: 30px;
    display: none;
    
    &.closed{
        display: none;
    }
    &.opened{
//        display: none;
    }
}