#news_content{
  padding-top: 15px;
}
.b-news{
	margin-bottom: 45px;
	width: 31.5%;
    
    @include tablet{
        width: 47%;
        
        &:last-child{
            display: none;
//            margin: 0 auto;
        }
    }
    @include small{
        width: 100%;
        
        &:last-child{
            display: block;
        }
    }
    @include small{
        margin: 0 0 35px;
    }
}
.b-news__photo{
	display: block;
	margin: 0 0 26px;
	img{
		display: block;
		width: 100%;
//		@include twoK {
//			width: 100%;
//		}
	}
    
    @include small{
        margin: 0 0 12px;
    }
}
.b-news__title,
.b-news__meta,
.b-news__text,
.b-news__action{
//	padding-left: 17px;
//	padding-top: 2px;
//	@include huge {
//		padding-right: 45px;
//	}
}
.b-news__title{
	margin: 0 0 2px;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	color: #121212;
//	width: 75%;
	padding: 0;
//	padding-left: 16px;
//	@include twoK{
//		font-size: 25px;
//		line-height: 25px;
//	}
//	@include fourK {
//		font-size: 35px;
//		line-height: 40px;
//	}
    @include small{
        font-size: 16px;
        line-height: 19px;
    }
}
.b-news__meta{
	margin: 0 0 16px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #121212;
	padding-top: 5px;
//	padding-left: 16px;
//	@include twoK{
//		font-size: 20px;
//	}
//	@include fourK {
//		font-size: 25px;
//		line-height: 30px;
//	}
    @include small{
        margin: 0 0 6px;
        font-size: 12px;
        line-height: 16px;
    }
}
.b-news__meta-date{
	margin-right: 58px;
    
    @include small{
        margin-right: 37px;
    }
}
.b-news__text{
	margin: 0 0 29px;
	overflow: hidden;
//	width: 83%;
	max-height: 66px;
    padding-top: 2px;
	line-height: 16px;
	font-weight: 400;
	font-size: 16px;
	color: #121212;
//	@include twoK {
//		max-height: 87px;
//		font-size: 20px;
//		line-height: 22px;
//	}
//	@include fourK {
//		max-height: 108px;
//		font-size: 30px;
//		line-height: 35px;
//	}
    @include small{
        margin: 0 0 18px;
        max-height: 120px;
        padding-top: 0;
        font-size: 13px;
        line-height: 20px;
    }
}
.b-news__action{
//    padding-left: 18px;
    @include small{
        text-align: center;
    }
    
    .g-btn{
        @include small{
            border: none;
            padding: 0;
            font-size: 12px;
            line-height: normal;
            background-color: transparent;
        }
    }
}