.b-nav{
	   min-height: 100px;
	   background-color: #d1d4d3;

//	   @include note {
//		   display: none;
//	   }
//	   @include twoK {
//		   margin-top: 70px;
//	   }
   }
.b-nav__list{
//	margin-left: -5px;
	@extend %list;
//	@extend %clearfix;
//	@extend %flexrow;
    display: flex;
    justify-content: space-between;
}
.b-nav__item{
	position: relative;
	display: inline-block;
	padding: 27px 0 26px 50px;
//	margin-left: 55px;
    cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		left: 1px;
        
        @include huge{
            left: 0;
            transform: scale(0.9);
        }
	}

	&.with--subnav:hover{
		.b-nav__sublist{
			display: block;
//			margin-left:5px;
		}
	}

//	@include twoK {
//		width: 10%;
//	}
//	@include fourK {
//		width: 9%;
//	}
}
.b-nav__item-1 {
//	margin-left: 0;
	padding-left: 46px;
	&:before{
        top: 28px;
//		left: 6px;
        width: 37px;
        height: 46px;
//		@include sprite($i-menu-item-1);
        background-image: url(../img/svg/i-menu-item-1.svg);
        
        @include huge{
            left: 0;
        }
	}
}
.b-nav__item-2{
//	margin-left: 100px;
	&:before{
        top: 27px;
		left: 3px;
        width: 32px;
        height: 49px;
//		@include sprite($i-menu-item-2);
        background-image: url(../img/svg/i-menu-item-2.svg);
	}

	@include huge {
//		margin-left: 80px;
//        margin-left: 0;
	}
}
.b-nav__item-3{
//	margin-left: 34px;
	padding-left: 60px;
	&:before{
		top: 16px;
		left: -2px;
        width: 52px;
        height: 58px;
//		@include sprite($i-menu-item-3);
        background-image: url(../img/svg/i-menu-item-3.svg);
	}

	@include huge {
//		margin-left: 14px;
//        margin-left: 0;
	}
}
.b-nav__item-4{
//	margin-left: 95px;
	padding-left: 52px;
	&:before{
		top: 25px;
        width: 40px;
        height: 49px;
//		@include sprite($i-menu-item-4);
        background-image: url(../img/svg/i-menu-item-4.svg);
	}

	@include huge {
//		margin-left: 75px;
//        margin-left: 0;
	}
    .b-nav__sublist{
        left: auto;
        right: 0;
    }
}
.b-nav__item-5{
//	margin-left: 114px;
	padding-left: 68px;
	&:before{
		top: 31px;
        width: 56px;
        height: 43px;
//		@include sprite($i-menu-item-5);
        background-image: url(../img/svg/i-menu-item-5.svg);
	}

	@include huge {
//		margin-left: 94px;
//        margin-left: 0;
	}
    .b-nav__sublist{
        left: auto;
        right: 0;
    }
}
.b-nav__item-6{
//    padding-left: 15px;
//    margin-left: 56px;
        padding-left: 50px;
//        margin-left: 30px;
    
	&:before{
		top: 30px;
//		left: -26px;
        left: 0;
        width: 43px;
        height: 44px;
        background-image: url(../img/svg/i-menu-item-6.svg);
//		@include sprite($i-menu-item-6);
	}

	@include huge {
//		margin-left: 26px;
//        margin-left: 0;
	}

//	> a {
//		padding-left: 8px;
//	}
    
    .b-nav__sublist{
        left: auto;
        right: 0;
    }
}
.b-nav__link{
	position: relative;
	display: block;
	max-width: 155px;
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	text-transform: uppercase;
	color: #262c26;
	line-height: 24px;
    letter-spacing: .006em;

	&.is--current,
	&:hover{
		text-decoration: none;
	}


	@include huge {
		font-size: 16px;
//		max-width: 105px;
        max-width: none;
	}
//	@include twoK{
//		font-size: 24px;
//		max-width: 190px;
//	}
//	@include fourK {
//		font-size: 37px;
//		line-height: 45px;
//		max-width: none;
//	}

}


.b-nav__sublist{
	@extend %list;
	@extend %clearfix;
	display: none;
	position: absolute;
	left: 0; top: 100%;
	width: 405px;
	background-color: #ffffff;
	z-index: 200;
    
    @include huge {
        width: 340px;
    }
}
.b-nav__sublist-item{
	display: block;
	border-top: 10px solid #fff;
//	padding: 18.5px 51px 18.5px 49px;
	background-color: #d1d4d3;
    transition-property: background-color;
//    transition-duration: .3s;
//	margin-left: -9px;
    &:hover{
        background-color: #000;
        
        .b-nav__sublist-link{
            color: #fff;
        }
    }
}
.b-nav__sublist-link{
	display: block;
	padding: 18.5px 51px 18.5px 49px;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
    letter-spacing: .007em;
	text-transform: uppercase;
	color: #0f0f0f;
    transition-duration: 0s;
    
    &:hover{
        text-decoration: none;
    }
    
    @include huge {
        font-size: 16px;
    }
}


.b-nav--simple{
	min-height: 0;
	.b-nav__item{
		padding: 21px 0 14px;
	}
    .b-nav__item--simple-1{
        margin-left: 62px;
    }
    .b-nav__item--simple-2{
        margin-left: 90px;
    }
    .b-nav__item--simple-3{
        margin-left: 37px;
    }
    .b-nav__item--simple-4{
        margin-left: 83px;
    }
    .b-nav__item--simple-5{
        margin-left: 95px;
    }
    .b-nav__item--simple-6{
        margin-left: 37px;
    }
    
	.b-nav__link{
		font-size: 20px;
		line-height: 23px;
		font-weight: 600;
		text-transform: uppercase;
		color: #262c26;

//		@include huge {
//			font-size: 16px;
//		}
//		@include twoK {
//			font-size: 24px;
//			line-height: 25px;
//		}
//		@include fourK {
//			font-size: 38px;
//			line-height: 50px;
//		}
	}


}


//@include huge {
//	.b-nav__item--simple-1{ margin-left: 44px; }
//	.b-nav__item--simple-2{ margin-left: 80px; }
//	.b-nav__item--simple-3{ margin-left: 27px; }
//	.b-nav__item--simple-4{ margin-left: 73px; }
//	.b-nav__item--simple-5{ margin-left: 85px; }
//	.b-nav__item--simple-6{ margin-left: 27px; }
//}