$productNarrow: 290px;
$product-note: 31.5%;
$product-tablet: 282px;
$product-small: 270px;
$product-phone: 200px;

.b-product{
	max-width: 76.56%;
	margin: 0 30px 122px;
	position: relative;
//	width: 17.9%;
//    width: 325px;
    width: $productNarrow;
    
    @include huge {
        margin: 0 5px 122px;
        width: $productNarrow - 10px;
    }
    @include pc{
        @for $i from 7 through 8{
            &:nth-child(#{$i}){
                display: none;
            }
        } 
    }
    @include note{
        margin: 0 0 95px;
        width: $product-note;
    }
    @include tablet{
        margin-bottom: 75px;
        width: $product-tablet;
        
        @for $i from 7 through 8{
            &:nth-child(#{$i}){
                display: block;
            }
        } 
    }
    @include small{
        margin-bottom: 70px;
        width: $product-tablet;
    }
    @include phone{
        margin-bottom: 30px;
        width: $product-phone;
    }
    
    .g-btn--fullwide{
        min-height: 45px;
        padding: 12px 30px;
        
        @include small{
            min-height: 31px;
            padding: 3px 0 0;
            line-height: 27px;
        }
    }
}
#product_content{
	margin-top:  150px;
}
.b-product__photo{
    position: relative;
	display: block;
    outline: 1px solid red;
//	height: 310px;
	height: 260px;
	margin-bottom: 21px;

    //	@include twoK {
    //		height: 304px;
    //	}
    //	@include fourK {
    //		height: 580px;
    //	}
    @include note{
        height: 220px;
    }
    @include tablet{
        margin-bottom: 15px;
        height: 260px;
    }
    @include small{
        margin-bottom: 15px;
        height: 216px;
    }
    
	img{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
//		display: block;
//		margin: 0 auto;
		max-height: 100%;
        transform: translateY(-50%);
        
//		@include fourK {
//			width: 100%;
//		}
	}

}
.b-product__tags{
	position: absolute;
	top: -14px;
//	right: -53px;
    right: 0;
    z-index: 1;
}
.b-product__tag{
	display: inline-block;
	margin-left: 12px;
	min-width: 42px;
	height: 42px;
	line-height: 36px;
	border-radius: 42px;
	border: 3px solid #0f0f0f;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15.75px;
	font-weight: 900;
	text-align: center;
	background-color: #0f0f0f;
	color: #ffffff;

//	@include twoK {
//		min-width: 54px;
//		height: 54px;
//		border-radius: 54px;
//		font-size: 17px;
//		padding-top: 5px;
//	}
    @include note{
        margin-left: 8px;
        min-width: 35px;
        width: 38px;
        height: 38px;
        line-height: 32px;
        border-radius: 50%;
    }
}
.b-product__tag--sale{
	border: 3px solid #0f0f0f;
	background-color: #0f0f0f;
	color: #ffffff;
    
    @include note{
        font-size: 12px;
    }
}
.b-product__tag--small{
	border: 3px solid #d6d6d4;
	background-color: #d6d6d4;
	color: #0f0f0f;
    font-size: 14px;
    
    @include note{
        font-size: 12px;
    }
}
.b-product__tag--new{
	border: 3px solid #0f0f0f;
	font-size: 16px;
	background-color: #fff;
	color: #0f0f0f;
    
    @include note{
        font-size: 12px;
    }
}
.b-product__title{
	margin: 0 auto;
//    max-width: $productNarrow;
	text-align: center;
    

	a{
		display: block;
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		text-transform: uppercase;
		color: #0f0f0f;
//		@include twoK {
//			font-size: 27px;
//			line-height: 31px;
//		}
//		@include twoK {
//			font-size: 36px;
//			line-height: 40px;
//		}
        @include note{
            font-size: 16px;
        }
        @include tablet{
            font-size: 13.78px;
        }
        @include small{
            line-height: 18px;
        }
	}
}
.b-product__desc{
	margin: 0 auto 16px;
//    max-width: $productNarrow;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	color: #0f0f0f;
//	@include twoK {
//		font-size: 18px;
//		line-height: 27px;
//	}
//	@include fourK {
//		font-size: 25px;
//	}
    @include note{
        font-size: 12px;
        margin-bottom: 8px;
    }
    @include tablet{
        font-size: 9.64px;
    }
    @include small{
        margin-bottom: 6px;
        line-height: 14px;
    }
}

.b-product__nums{
    @include clearfix;
    margin: 0 auto;
//    max-width: $productNarrow;
}
.b-product__prices{
	float: left;
//    margin-left: 17.5px;
//  @include fourK {
//    margin-left: 9%;
//  }
}
.b-product__price{
    @include note{
        font-size: 20px;
    }
    @include tablet{
        font-size: 17.91px;
    }
}
.b-product__price--new{
    margin-right: 5px;
	display: inline-block;
	font-weight: 400;
	color: #0f0f0f;
	font-size: 28px;
	line-height: 30px;
	text-decoration: none;
//	padding-left: 4px;
//  @include fourK {
//    font-size: 40px;
//  }
    @include note{
        font-size: 20px;
    }
    @include tablet{
        font-size: 17.91px;
    }
    
	span{
		font-size: 18px;
//		@include twoK{
//			font-size: 22px;
//		}
//        @include twoK{
//          font-size: 32px;
//        }
        @include note{
            font-size: 14px;
        }
        @include note{
            font-size: 12.4px;
        }
	}
}
.b-product__price--old{
	position: relative;
	display: inline-block;
	font-weight: 400;
	color: #0f0f0f;
	font-size: 20px;
	line-height: 26px;
	text-decoration: none;
//    @include fourK {
//      font-size: 35px;
//    }
    @include note{
        font-size: 16px;
    }
    @include tablet{
        font-size: 14px;
    }
    
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		height: 1px;
		background-color: #121212;
	}
	span{
		font-size: 14px;

//		@include twoK{
//			font-size: 17px;
//		}
//        @include fourK{
//          font-size: 30px;
//        }
        @include note{
            font-size: 12px;
        }
        @include tablet{
            font-size: 10px;
        }
	}
}
.b-product__qty{
	float: right;
    margin-top: 2px;
//    margin-right: 17.5px;
	width: 60px;
	position: relative;
//    @include fourK {
//      width: 80px;
//      margin-right: 9%;
//    }
    @include note{
        margin-top: 4px;
        width: 50px;
    }
    @include small{
        margin-top: 3px;
    }

	input{
		width: 60px;
		height: 30px;
		padding: 0 22px 0 8px;
		border: 1px solid #444a55;
		font-size: 16px;
		font-weight: 600;
		line-height: 28px;
		color: #0f0f0f;
//        @include fourK {
//          width: 80px;
//          height: 35px;
//          line-height: 35px;
//          font-size: 30px;
//        }
        @include note{
            width: 50px;
            height: 25px;
            padding: 0px 16px 0 7px;
            font-size: 14px;
        }
        @include tablet{
            font-size: 13.34px;
        }
	}

	span{
        position: absolute;
        right: 1px;
//		display: block;
		width: 15px;
		height: 14px;
		font-size: 0;
		line-height: 14px;
		text-align: center;
		transition: background-color .3s;
		cursor: pointer;
		margin-bottom: 0px;
//		margin-right: 8px;
//		margin-top: 5px;
//        &:before{
//            content: '';
//            vertical-align: middle;
//        }
		&:hover{
			background-color: #d1d4d3;
		}
        i{
            vertical-align: middle;
        }
	}
}
.b-product__qty-plus{
//	position: absolute;
	top: 1px;
//	right: 0;
//    i{
//        vertical-align: -35%;
//    }
}
.b-product__qty-minus{
//	position: absolute;
	bottom: 1px;
//	right: 0;
//    i{
//        vertical-align: 0%;
//    }
}
.b-product__action{
	padding-top: 23px;
	margin-bottom: 18px;
	clear: both;
    margin-left: auto;
    margin-right: auto;
//    max-width: $productNarrow;
//	margin-left: 5px;
//    @include fourK {
//      width: 82%;
//      margin-left: 9%;
//    }
    @include note{
        padding-top: 16px;
        margin-bottom: 11px;
    }
    @include small{
        padding-top: 10px;
        margin-bottom: 13px;
    }
}
.b-product__rating{
	text-align: center;
    
    @include note{
        line-height: 16px;
    }
    @include tablet{
        line-height: 14px;
    }
}
#catalog_product .b-product{
	width: 25.804%;
	padding: 0 0.8%;
}