$productNarrow: 290px;
//$product-note: 31.5%;
//$product-tablet: 282px;
$product-small: 230px;
//$product-phone: 200px;

.b-product{
	max-width: 76.56%;
    min-width: 230px;
	margin: 0 30px 122px;
	position: relative;
//	width: 17.9%;
//    width: 325px;
    width: $productNarrow;
    
    @include huge {
        margin: 0 36px 77px;
        //width: $productNarrow - 10px;
        min-width: 212px;
        width: $productNarrow - 78px;
    }
    @include pc{
//        margin-bottom: 30px;
        margin: 0 0 50px;
        width: $product-small;
        max-width: $product-small;
    }
    @include note{
//        margin: 0 0 95px;
//        width: $product-note;
        @for $i from 7 through 8{
            &:nth-child(#{$i}){
                display: none;
            }
        } 
    }
    @include tablet{
//        margin-bottom: 75px;
//        width: $product-tablet;
        
        @for $i from 7 through 8{
            &:nth-child(#{$i}){
                display: block;
            }
        } 
    }
    @include small{
//        width: $product-small;
    }
    @include phone{
//        margin-bottom: 30px;
//        width: $product-phone;
    }
    
    .g-btn--fullwide{
        min-height: 45px;
        padding: 12px 30px;
        
        @include huge{
            min-height: 33px;
            padding: 7px 0 0;
            line-height: normal;
            font-size: 13.11px;
        }
        @include pc{
            min-height: 36px;
            padding: 3px 0 0;
            line-height: 31px;
            font-size: 14.4px;
        }
    }
}
#product_content{
	margin-top:  150px;
}
.b-product__photo{
    position: relative;
	display: block;
    outline: 1px solid red;
//	height: 310px;
	height: $productNarrow;
	margin-bottom: 21px;

    //	@include twoK {
    //		height: 304px;
    //	}
    //	@include fourK {
    //		height: 580px;
    //	}

    @include huge{
        margin: 0 0 15px;
        height: 212px;
    }
    @include pc{
        margin-bottom: 15px;
        height: $product-small;
//        height: 230px;
    }
    @include note{
//        height: 230px;
    }
    @include tablet{
//        margin-bottom: 15px;
//        height: 282px;
    }
    @include small{
//        margin-bottom: 15px;
    }
    
	img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
		max-height: 100%;
        
//		@include fourK {
//			width: 100%;
//		}
	}

}
.b-product__tags{
	position: absolute;
//	top: -14px;
//	right: -53px;
    right: 0;
    z-index: 1;
}
.b-product__tag{
    vertical-align: top;
	display: inline-block;
	margin-left: 12px;
    width: 42px;
	min-width: 42px;
	height: 42px;
	line-height: 36px;
    border-radius: 50%;
	border: 3px solid #0f0f0f;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15.75px;
	font-weight: 900;
	text-align: center;
	background-color: #0f0f0f;
	color: #ffffff;

//	@include twoK {
//		min-width: 54px;
//		height: 54px;
//		border-radius: 54px;
//		font-size: 17px;
//		padding-top: 5px;
//	}


  @include huge {
    margin-left: 8px;
    width: 29px;
    min-width: 29px;
    height: 29px;
    line-height: 24px;
  }
  @include pc{
    margin-left: 8px;
    min-width: 35px;
    width: 35px;
    height: 35px;
    line-height: 30px;
  }
  @include note{
    margin-left: 8px;
    min-width: 33px;
    width: 33px;
    height: 33px;
    line-height: 28px;
  }
  @include tablet {
    margin-left: 8px;
    width: 33px;
    min-width: 33px;
    height: 33px;
    line-height: 26px;
  }
    @include small {
//      margin-left: 8px;
//      min-width: 33px;
//      width: 33px;
//      height: 33px;
//      line-height: 26px;
    }
}
.b-product__tag--sale{
	border: 3px solid #0f0f0f;
	background-color: #0f0f0f;
	color: #ffffff;
    
    @include huge{
        border-width: 2px;
        font-size: 11.47px;
    }
    @include pc{
        border-width: 3px;
        font-size: 12px;
    }
}
.b-product__tag--small{
	border: 3px solid #d6d6d4;
	background-color: #d6d6d4;
	color: #0f0f0f;
    font-size: 14px;
    
    @include huge{
        border-width: 2px;
        line-height: 26px;
        font-size: 10.2px;
    }
    @include pc{
        border-width: 3px;
        line-height: 31px;
        font-size: 12px;
    }
    @include note{
        text-indent: -1px;
        line-height: 28px;
    }
    @include tablet{
        line-height: 26px;
        min-width: 33px;
    }
}
.b-product__tag--new{
	border: 3px solid #0f0f0f;
	font-size: 16px;
	background-color: #fff;
	color: #0f0f0f;
    
    @include huge{
        border-width: 2px;
      background-color: rgba(255,255,255,0.5);
        font-size: 11.47px;
    }
    @include pc{
      border-width: 2px;
      background-color: rgba(255,255,255,0.5);
      line-height: 32px;
        font-size: 12px;
    }
    @include note{
        line-height: 30px;
    }
    @include tablet {
      border-width: 2px;
      background-color: rgba(255,255,255,0.5);
      line-height: 28px;
    }
    @include small{
//        border-width: 2px;
//      background-color: rgba(255,255,255,0.5);
//      line-height: 29px;
    }
}
.b-product__title{
	margin: 0 auto;
//    max-width: $productNarrow;
	text-align: center;
    

	a{
		display: block;
		font-size: 20px;
		line-height: 24px;
		font-weight: 600;
		text-transform: uppercase;
		color: #0f0f0f;
//		@include twoK {
//			font-size: 27px;
//			line-height: 31px;
//		}
//		@include twoK {
//			font-size: 36px;
//			line-height: 40px;
//		}
        @include huge{
            font-size: 14.57px;
            line-height: normal;
        }
        @include pc{
            font-size: 13.78px;
            line-height: 18px;
            font-size: 15.3px;
            line-height: 19px;
            letter-spacing: .02em;
        }
        @include note{
        }
        @include tablet{
        }
        @include small{
        }
	}
}
.b-product__desc{
	margin: 0 auto 16px;
//    max-width: $productNarrow;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	color: #0f0f0f;
//	@include twoK {
//		font-size: 18px;
//		line-height: 27px;
//	}
//	@include fourK {
//		font-size: 25px;
//	}
    @include huge{
        margin-bottom: 8px;
        line-height: normal;
        font-size: 10.2px;
    }
    @include pc{
        margin-bottom: 6px;
        line-height: 14px;
        font-size: 9.64px;
       font-size: 11px;
        margin-bottom: 10px;
        line-height: 14px;
        letter-spacing: -.019em;
        font-weight: 600;
    }
    @include note{
//        font-size: 12px;
//        margin-bottom: 8px;
    }
    @include tablet{
    }
    @include small{
    }
}

.b-product__nums{
    @include clearfix;
    margin: 0 auto;
//    max-width: $productNarrow;
    
    @include pc{
        margin-bottom: 4px;
    }
}
.b-product__prices{
	float: left;
//    margin-left: 17.5px;
//  @include fourK {
//    margin-left: 9%;
//  }
}
.b-product__price{
    @include note{
        font-size: 20px;
    }
    @include tablet{
        font-size: 17.91px;
    }
}
.b-product__price--new{
    margin-right: 5px;
	display: inline-block;
	font-weight: 400;
	color: #0f0f0f;
	font-size: 28px;
	line-height: 30px;
	text-decoration: none;
//	padding-left: 4px;
    
//  @include fourK {
//    font-size: 40px;
//  }
    @include huge{
        line-height: normal;
        font-size: 20.8px;
    }
    @include pc{
//        font-size: 17.91px;
        line-height: 30px;
        font-size: 20.8px;
    }
    @include note{
//        font-size: 20px;
    }
    @include tablet{
    }
    
	span{
		font-size: 18px;
//		@include twoK{
//			font-size: 22px;
//		}
        @include huge{
            font-size: 13.11px;
        }
//        @include note{
//            font-size: 14.4px;
//        }
        @include pc{
            font-size: 14.4px;
        }
        @include small{
//            font-size: 12.4px;
        }
	}
}
.b-product__price--old{
	position: relative;
	display: inline-block;
	font-weight: 400;
	color: #0f0f0f;
	font-size: 20px;
	line-height: 26px;
	text-decoration: none;
    
//    @include fourK {
//      font-size: 35px;
//    }
    @include huge{
//        line-height: normal;
        font-size: 17px;
    }
    @include pc{
        font-size: 17px;
    }
    @include note{
//        font-size: 16px;
    }
    @include tablet{
    }
    
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		height: 1px;
		background-color: #121212;
	}
	span{
		font-size: 14px;

//		@include twoK{
//			font-size: 17px;
//		}
//        @include fourK{
//          font-size: 30px;
//        }
        @include huge{
            font-size: 13px;
        }
        @include pc{
            
        }
        @include note{
            font-size: 12px;
        }
        @include tablet{
            font-size: 10px;
        }
	}
}
.b-product__qty{
	float: right;
    margin-top: 2px;
//    margin-right: 17.5px;
//	width: 60px;
	position: relative;
    
//    @include fourK {
//      width: 80px;
//      margin-right: 9%;
//    }
    @include huge{
        margin-top: 4px;
    }
    @include pc{
        margin-top: 1px;
        width: 56px;
    }
    @include note{
//        margin-top: 4px;
//        width: 50px;
    }
    @include small{
//        margin-top: 3px;
    }

	input{
		width: 60px;
		height: 30px;
		padding: 0 22px 0 8px;
		border: 1px solid #444a55;
		font-size: 16px;
		font-weight: 600;
		line-height: 28px;
		color: #0f0f0f;
//        @include fourK {
//          width: 80px;
//          height: 35px;
//          line-height: 35px;
//          font-size: 30px;
//        }
        @include huge{
            width: 44px;
            height: 23px;
            padding: 0 16px 0 5px;
            font-size: 11.65px;
        }
        @include pc{
            width: 56px;
            height: 29px;
            padding: 0px 16px 0 7px;
            font-size: 14.34px;
        }
        @include note{
           
        }
        @include tablet{
        }
	}

	span{
        position: absolute;
        right: 1px;
//		display: block;
		width: 15px;
		height: 14px;
		font-size: 0;
		line-height: 14px;
		text-align: center;
		transition: background-color .3s;
		cursor: pointer;
		margin-bottom: 0px;
//		margin-right: 8px;
//		margin-top: 5px;
//        &:before{
//            content: '';
//            vertical-align: middle;
//        }
        
        
        @include huge{
            height: 50%;
            line-height: 11px;
        }
        @include pc{
            line-height: 14px;
        }
        
		&:hover{
			background-color: #d1d4d3;
		}
        i{
            vertical-align: middle;
        }
	}
}
.b-product__qty-plus{
//	position: absolute;
	top: 1px;
//	right: 0;
//    i{
//        vertical-align: -35%;
//    }
}
.b-product__qty-minus{
//	position: absolute;
	bottom: 1px;
//	right: 0;
//    i{
//        vertical-align: 0%;
//    }
}
.b-product__action{
    position: relative;
	padding-top: 23px;
	margin-bottom: 18px;
	clear: both;
    margin-left: auto;
    margin-right: auto;
//    max-width: $productNarrow;
//	margin-left: 5px;
    
//    @include fourK {
//      width: 82%;
//      margin-left: 9%;
//    }
    @include huge{
        margin-bottom: 12px;
        padding-top: 14px;
    }
    @include pc{
    	padding-top: 10px;
    }
    @include note{
        margin-bottom: 11px;
        padding-top: 10px;
    }
    @include small{
        margin-bottom: 15px;
        padding-top: 10px;
    }
    
    .b-action__note{
        position: absolute;
        top: 0;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #8e908f;
        
        @include huge{
            top: -6px;
            font-size: 8.31px;
        }
        @include pc{
            top: -9px;
            font-size: 8.31px;
        }
        @include note{
//            top: -5px;
//            font-size: 10px;
        }
    }
}
.b-product__rating{
	text-align: center;
    
    @include huge{
//        line-height: 16px;
    }
    @include note{
        line-height: 16px;
    }
    @include tablet{
        line-height: 14px;
    }
}
#catalog_product .b-product{
	width: 25.804%;
	padding: 0 0.8%;
}