#subscribe_container{
//	@extend %flexrow;
//    display: flex;
//	justify-content: space-between;
//	margin-left: 8.05% !important;
    &:before, &:after{
        content: none;
    }
    
    @include pc{
        max-width: 815px;
    }
    @include note{
        max-width: 100%;
    }
    @include phone{
        padding: 0;
    }
}

.b-subscribe{
    height: 130px;
	padding: 43px 0 47px;
	background-color: #121212;
    
    @include huge {
        height: 110px;
    }
    @include pc {
        height: auto;
    }
    @include tablet{
        padding: 40px 0 45px;
    }
    @include phone{
        margin: 0 auto;
        padding: 22px 0 39px;
        width: calc(100% - 30px);
    }
    
    .container{
        height: 100%;
    }
    
}
.b-subscribe__title{
//	display: inline-block;
	margin: 0 auto 0 0;
	font-size: 28px;
//	line-height: 40px;
	line-height: normal;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;

//	@include twoK {
//		font-size: 30px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 40px;
//		padding-top: 10px;
//	}
	@include huge {
		font-size: 21px;
//		text-transform: none;
	}
    @include pc{
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
//        text-transform: uppercase;
    }
    @include phone{
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 22px;
    }
    
    br{
        display: none;
    }
}
.b-subscribe__form{
//	display: inline-block;
	vertical-align: middle;
    display: flex;
//    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    
    @include huge {
        padding: 0 12px;
    }
    @include pc{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    @include note{
        flex-direction: column;
        font-size: 14px;
    }
    @include tablet{
        font-size: 12px;
    }
    
	input {
//		width: auto;
		width: 310px;
        min-height: 40px;
		box-sizing: border-box;
		display: inline-block;
		margin-right: 30px;
		font-size: 16px;
		padding: 9px 17px;

//		@include twoK {
//			font-size: 21px;
//		}
//		@include fourK {
//			font-size: 33px;
//			line-height: 33px;
//			min-width: 524px;
//		}
		@include huge {
            margin-right: 24px;
//			min-width: 235px;
            width: 220px;
		}
        @include pc{
            width: 300px;
            margin-right: 0;
        }
        @include note{
            margin-bottom: 27px;
        }
        @include phone{
            width: 263px;
            margin-bottom: 27px;
            font-size: 12px;
            min-height: 31px;
            padding: 2px 14px;
        }

		&:last-child{
			margin-right: 0;
		}
        
        &:hover{
//	        border:none;
        }
	}
	input[type="email"]{
		border: none;
//		padding-top: 10px;
//		padding-bottom: 10px;
		width: 320px;
//		margin-left: -4px;
//		margin-right: 26px;
        
        @include huge{
//            width: auto;
            width: 230px;
        }
        @include pc{
            width: 300px;
        }
        @include phone{
            width: 263px;
        }
	}
	input[type="text"]{
		border: none;
//		padding-top: 10px;
//		padding-bottom: 10px;
//		margin-left: 29px;
	}
	input[type="submit"] {
//		min-width: 0;
		width: 137px;
		padding: 9px 13px 7px;
		font-weight: 500;
		font-size: 14px;
        letter-spacing: .016em;
//		@include fourK {
//			line-height: 40px;
//		}
        @include huge{
            width: 125px;
            font-size: 12px;
        }
        @include note{
            margin-bottom: 0;
        }
        @include phone{
            width: auto;
            font-size: 12px;
            line-height: 23px;
            padding: 2px 13px;
            min-width: initial;
        }
        
        &:hover{
            border: 2px solid transparent;
        }
	}
}


.b-subscribe__after{
    height: 535px;
    background: #fff url(../img/flowers-subscribe.jpg) no-repeat top / contain;
    
    @include tablet{
        height: 505px;
//        background: #fff url(../img/flowers-subscribe.jpg) top no-repeat /contain;
    }
    @include phone{
        height: 207px;
        background: #fff url(../img/flowers-subscribe-xs.png) no-repeat top / 91%;
    }
}