#subscribe_container{
//	@extend %flexrow;
//    display: flex;
//	justify-content: space-between;
//	margin-left: 8.05% !important;
    &:before, &:after{
        content: none;
    }
    
//    @include pc{
//        max-width: 815px;
//    }
//    @include note{
//        max-width: 100%;
//    }
//    @include small{
//        padding: 0;
//    }
}

.b-subscribe{
    height: 130px;
	padding: 43px 0 47px;
	background-color: #0f0f0f;
    
    @include huge {
        height: 95px;
        padding: 42px 0 47px;
    }
    @include pc {
        height: auto;
    }
    @include tablet{
        padding: 40px 0 45px;
    }
    @include small{
        margin: 0 auto;
        padding: 22px 0 39px;
        width: calc(100% - 30px);
    }
    
    .container{
        height: 100%;
    }
    
}
.b-subscribe__title{
//	display: inline-block;
	margin: 0 auto 0 0;
	font-size: 28px;
//	line-height: 40px;
	line-height: normal;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;

//	@include twoK {
//		font-size: 30px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 40px;
//		padding-top: 10px;
//	}
	@include huge {
		font-size: 20.39px;
//		text-transform: none;
	}
    @include pc{
        margin-bottom: 35px;
        width: 100%;
        text-align: center;
//        text-transform: uppercase;
    }
    @include small{
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 22px;
    }
    
    br{
        display: none;
        
        @include small{
            display: inline;
        }
    }
}
.b-subscribe__form{
//	display: inline-block;
	vertical-align: middle;
    display: flex;
//    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    
    @include huge {
        padding: 0 12px;
    }
    @include pc{
        padding: 0;
        flex-wrap: nowrap;
        flex-direction: column;
//        font-size: 14px;
    }
    @include note{
//        flex-direction: column;
    }
    @include tablet{
        font-size: 12px;
    }
    @include small{
        padding: 0 12px;
    }
    
	input {
//		width: auto;
		width: 310px;
        min-height: 40px;
		box-sizing: border-box;
		display: inline-block;
		margin-right: 30px;
		font-size: 16px;
		padding: 4px 17px;

//		@include twoK {
//			font-size: 21px;
//		}
//		@include fourK {
//			font-size: 33px;
//			line-height: 33px;
//			min-width: 524px;
//		}
		@include huge {
            margin-right: 22px;
            width: 226px;
//			min-width: 235px;
            min-height: 29px;
            padding: 4px 12px;
            font-size: 11.65px;
		}
        @include pc{
            width: 300px;
            min-height: 35px;
            margin-right: 0;
            font-size: 14px;
            margin-bottom: 33px;
        }
        @include note{
        }
        @include small{
            width: 263px;
            margin-bottom: 27px;
            font-size: 12px;
            min-height: 31px;
            padding: 2px 14px;
        }

		&:last-child{
			margin-right: 0;
		}
        
        &:hover{
//	        border:none;
        }
	}
	input[type="email"]{
		border: none;
//		padding-top: 10px;
//		padding-bottom: 10px;
		width: 320px;
//		margin-left: -4px;
//		margin-right: 26px;
        
        @include huge{
//            width: auto;
            width: 233px;
        }
        @include pc{
            width: 300px;
        }
        @include small{
            width: 263px;
        }
	}
	input[type="text"]{
		border: none;
//		padding-top: 10px;
//		padding-bottom: 10px;
//		margin-left: 29px;
	}
	input[type="submit"] {
//		min-width: 0;
		width: 137px;
		padding: 9px 13px 7px;
		font-weight: 500;
		font-size: 14px;
        letter-spacing: .016em;
//		@include fourK {
//			line-height: 40px;
//		}
        @include huge{
            width: auto;
            min-width: 0;
            padding: 1px 10px 0;
            font-size: 10.2px;
        }
        @include pc{
            margin-bottom: 0;
            width: 155px;
            font-size: 14px;
        }
        @include small{
            width: auto;
            font-size: 12px;
            line-height: 23px;
            padding: 2px 13px;
            min-width: initial;
        }
        
        &:hover{
            border: 2px solid transparent;
        }
	}
}

.b-subscribe__after{
    height: 535px;
    background: #fff url(../img/flowers/flowers-subscribe-lg.jpg) no-repeat top;
    
    @include media("retina2x"){
        background: #fff url(../img/flowers/flowers-subscribe-lg-2x.jpg) no-repeat center -8px/79.4%;
    }
    
    @include huge{
        height: 389px;
        background-size: 1116px;
        
        @include media("retina2x"){
            
        }
    }
    @include pc{
        background-size: 1065px;
        
        @include media("retina2x"){
            
        }
    }
    @include note{
//        height: 505px;
//        background: #fff url(../img/flowers-subscribe.jpg) top no-repeat /contain;
        background: #fff url(../img/flowers/flowers-subscribe-md.jpg) no-repeat top;
        
        @include media("retina2x"){
            background: #fff url(../img/flowers/flowers-subscribe-md-2x.jpg) no-repeat top /88%;
        }
    }
    @include tablet{
        height: 300px;
//        background: #fff url(../img/flowers-subscribe.jpg) top no-repeat /contain;
        background: #fff url(../img/flowers/flowers-subscribe-sm.jpg) no-repeat top;
        
        @include media("retina2x"){
            background: #fff url(../img/flowers/flowers-subscribe-sm-2x.jpg) no-repeat top /93%;
        }
    }
    @include small{
        height: 175px;
//        background: #fff url(../img/flowers-subscribe-xs.png) no-repeat top / 91%;
        background: #fff url(../img/flowers/flowers-subscribe-xs.jpg) no-repeat top;
        
        @include media("retina2x"){
            background: #fff url(../img/flowers/flowers-subscribe-xs-2x.jpg) no-repeat top /100%;
        }
    }
}