.b-social{
	float: left;
	margin-left: 5%;
	@include clearfix();
    
    @include huge {
        margin-left: 0;
    }
    @include small{
        float: none;
        text-align: center;
    }
}
.b-social--header{
    svg:hover{            
        .filled{
            fill: $headerTopSvgColorHover;
        }
        .stroked{
            stroke: $headerTopSvgColorHover;
        }
    }
    
    .b-social__item{
        @include huge{
            margin-right: 8px;
        }
        
        i[class^="icon-"]{
            filter: brightness(1);
            transition: filter .3s;
            
            @include huge{
                width: 21px;
                height: 21px;
                transform: scale(1);
            }
        }

        &:hover{
            i[class^="icon-"]{
                filter: brightness(2);
            }
        }
    }
}
.b-social__item{
	float: left;
	margin-right: 10px;
    transition: filter 200ms;
//	@include twoK {
//		margin-right: 20px;
//	}
//	@include fourK {
//		margin-right: 48px;
//	}

	&:last-child{
		margin-right: 0;
	}
}
.b-social__icon{
    width: 29px;
    height: 29px;
}
.b-social--footer{
	margin-left: 2px;
    
    @include huge{
//        margin-left: 3px;
        margin-left: 0;
    }
    @include pc{
        margin-left: -3px;
    }
    @include note{
        margin-left: -2px;
    }
    @include small{
        margin-left: 0;
    }

	.b-social__item{
		margin-right: 24px;

//		@include fourK {
//			margin-right: 68px;
//			margin-top: 25px;
//		}
		@include huge {
			margin-right: 19px;
//            margin-left: -3px;
            margin-left: 0;
//            transform: scale(0.9)
		}
		@include pc {
			margin: 0 3px;
            margin-left: 3px;
//            transform: scale(0.8)
		}
		@include note {
			margin-right: 13px;
            margin-left: 2px;
//            transform: scale(0.83)
		}
        @include tablet{
//            margin: 0;
            margin-right: 11px;
//            margin-left: 2px;
            [class^="icon"]{
//                transform: scale(0.83);
            }
        }
        @include small{
            margin-right: 10px;
//            margin-left: -1px;
            float: none;
            display: inline-block;
        }
        
		&:last-child{
			margin-right: 0;
		}
	}
}