.b-search{
  position: relative;
  vertical-align: middle;
  min-width: 364px;
	background-color: #f5f5f5;
  text-align: left;

	@include huge {
		min-width: 275px;
	}
	@include pc {
		min-width: 245px;
	}
	@include note {
		min-width: 220px;
	}
	@include tablet {
		min-width: 0;
        width: 180px;
	}

	button {
		position: absolute;
		top: 7px; right: 19px;
		padding: 0; margin: 0;
		background-color:#f5f5f5;
		border: 0;
		outline:0;
		cursor: pointer;
		z-index: 10;
//		@include twoK {
//			transform: scale(1.2);
//		}
//		@include fourK {
//			transform: scale(1.9);
//			top: 16px;
//			right: -193px;
//		}
        @include note{
            top: 3px;
            right: 3px;
        }
	}
	input {
		position: absolute;
		top: -1px; left: 0;
		right: 0;
		width: 100%;
    padding: 7px 32px 6px 17px;
    border: 0;
	  box-shadow: none;
	  box-sizing: border-box;
	  line-height: 18px;
	  font-size: 14px;
	  font-weight: 600;
	  text-transform: uppercase;
	  background:#f5f5f5;
	  color: #343735;
	  user-select: none;
	  appearance: none;
	  outline:none;
//		@include twoK{
//			line-height: 24px;
//			font-size: 15px;
//		}
//		@include fourK{
//			line-height: 45px;
//			font-size: 30px;
//			width:160%;
//		}
        @include pc{
            position: static;
        }
        @include note{
            font-size: 12px;
            line-height: 21px;
            padding: 1px 25px 0px 10px;
        }
	}
}
