.b-seo-text{
	padding: 0 102px 98px;
	margin: 0 auto;
	clear: both;

	p {
		margin: 0;
	}
}
.b-seo-text__inner{
	margin-bottom: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: 19px;
	line-height: 21px;
	font-weight: 400;
	color: #1a1a1a;
	text-align: center;
	@extend %transition;

	@include huge {
		font-size: 16px;
		line-height: 21px;
	}
	@include twoK {
		font-size: 23px;
		line-height: 26px;
	}
	@include fourK {
		font-size: 35px;
		line-height: 40px;
	}

	&.is--short{
		max-height: 105px;
		overflow: hidden;
		@extend %transition;
		@include fourK {
			max-height: 115px;
		}
	}
}
.b-seo-text__action{
	text-align: center;
}
.b-seo-text__btn{
  font-weight: 700;
  text-transform: uppercase;
}