.b-seo-text{
	padding: 0 100px 98px;
	margin: 0 auto;
	clear: both;
	padding-right: 89px;
    
    @include small{
        padding: 0;
    }

	p {
		margin: 0;
        letter-spacing: -.001em;
	}
}
.b-seo-text__inner{
	margin-top: -1px;
	margin-left: 2px;
	margin-bottom: 20px;
    margin: -1px 0 20px 2px;
	font-family: PT Sans,sans-serif;
	font-size: 19px;
	line-height: 23px;
	font-weight: 400;
	color: #1a1a1a;
	text-align: center;
	@extend %transition;

//	@include huge {
//		font-size: 16px;
//		line-height: 21px;
//	}
//	@include twoK {
//		font-size: 23px;
//		line-height: 26px;
//	}
//	@include fourK {
//		font-size: 35px;
//		line-height: 40px;
//	}
    
    @include pc{
        margin: 0 0 46px;
        font-size: 16px;
        line-height: 17px;
    }
    @include small{
        margin: 0 0 31px;
        font-size: 14px;
        line-height: 17px;
    }

	&.is--short{
		max-height: 115px;
		overflow: hidden;
		@extend %transition;
//		@include fourK {
//			max-height: 115px;
//		}
        @include pc{
            max-height: 154px;
        }
//        @include note{
//            max-height: 154px;
//        }
        @include tablet{
            max-height: 206px;
        }
        @include small{
            max-height: 342px;
        }
	}
}
.b-seo-text__action{
	text-align: center;
}
.b-seo-text__btn{
  font-weight: 700;
  text-transform: uppercase;
    
    @include small{
        font-size: 12px;
    }
}