.b-slider{
//	height: 800px;
	img{
		display: block;
//		width: 103%;
	}
}

.b-slider__slide{
//	min-height: 793px;
	height: 800px;
    overflow: hidden;
    background-color: #eee;

//	&>img{
//		min-height: 793px;
//		height: 800px;
//	}
    .container{
        position: relative;
        height: 100%;
    }
}
.b-slide__bg{
    position: absolute;
    left: 50%;
    z-index: 0;
    max-width: none;
    height: 800px;
    transform: translateX(-50%);
}
.b-slider__desc{
	position: absolute;
//	top: 81px;
//	left: 14.1%;
//	width: 33.6315%;
//    margin-left: 125px;
    left: 125px;
    width: 640px;
	padding: 49px 36px;
	background-color: rgba(250, 250, 250, 0.69);


/* 	@include huge {
	left: 60px;
	padding: 35px 25px;
} */

	h3{
		margin: 0 0 27px;
		font-size: 36px;
		line-height: 40px;
		font-weight: 700;
		text-transform: uppercase;
		color: #121212;
		text-align: center;

//		@include huge {
//			font-size: 30px;
//		}
//        @include twoK {
//          font-size: 44px;
//          margin-bottom: 35px;
//        }
//        @include fourK {
//          font-size: 57px;
//          line-height: 60px;
//        }
	}
	p {
		font-family: 'PT Sans', sans-serif;
		padding: 0 56px;
		margin: 0 0 33px;
		font-size: 22px;
		line-height: 27px;
		font-weight: 400;
		color: #121212;
		text-align: center;

//		@include huge {
//			font-size: 18px;
//		}
//        @include twoK {
//          font-size: 24px;
//        }
//      @include fourK {
//        font-size: 39px;
//        line-height: 45px;
//      }
	}
    
    .b-desc__text_small{
        margin-bottom: 54px;
        line-height: 23px;
        font-size: 18px;
    }

	form {
		max-width: 70%;
		margin: 0 auto;
//		margin-left: 14.8%;
		
		input {
			min-height: 50px;
//            @include twoK {
//              min-height: 70px;
//              font-size: 24px;
//              margin-top: 29px;
//            }
//          @include fourK {
//            min-height: 80px;
//            font-size: 35px;
//          }
		}

		.g-btn--lg{
			margin-top: 6px;
			margin-right: 3px;
            padding-left: 37px;
            padding-right: 37px;
		}

		.g-form__field{
			margin-bottom: 25.5px;
            width: 95.5%;
            
            img{
                width: 100%;
            }
		}
        
        .g-form__field--inline{
            margin-right: 0;
            margin-bottom: 27px;
            width: 100%;
        }
	}


	.b-slider__desc-title{
		margin: 0 0 25px;
		color: #121212;
		font-size: 36px;
		font-weight: 700;
		line-height: 50px;
		text-transform: none;
		text-align: center;

//		@include huge {
//			font-size: 30px;
//			line-height: 42px;
//		}
	}
    .g-btn{
        min-height: 50px;
//        @include twoK {
//          min-height: 70px;
//          font-size: 24px;
//          margin-top: 29px;
//        }
//      @include fourK {
//        min-height: 80px;
//        font-size: 35px;
//      }
        
        & + .g-btn{
            margin-left: 20px;
        }
    }
    
	.b-slider__desc-action{
//		max-width: 400px;
        max-width: none;
		margin: 0 auto;
	}
}

.b-slider__desc--right{
//    margin-right: 125px;
//    margin-left: auto;
    left: auto;
	right: 125px;
//    left: auto;
//	width: 540px;

//	@include huge {
//		right: 60px;
//		left: auto;
//	}
//    @include twoK {
//      width: 28.377%;
//    }
}
.b-slider__desc--high{
    top: 81px;
    min-height: 616px;
}
.b-slider__desc--mid{
    top: 152px;
    min-height: 500px;
}
.b-slider__desc--low{
    top: 174px;
    min-height: 400px;
}