#subscribe_container{
	@extend %flexrow;
}

.b-subscribe{
	padding: 43px 0 47px;
	background-color: #121212;
}
.b-subscribe__title{
	display: inline-block;
	margin: 0 30px 0 0;
	font-size: 28px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	vertical-align: middle;

	@include huge {
		font-size: 21px;
		text-transform: none;
	}
	@include twoK {
		font-size: 30px;
	}
	@include fourK {
		font-size: 40px;
		line-height: 40px;
		padding-top: 10px;
	}
}
.b-subscribe__form{
	display: inline-block;
	vertical-align: middle;

	input {
		width: auto;
		min-width: 310px;
		box-sizing: border-box;
		display: inline-block;
		margin-right: 30px;

		@include huge {
			min-width: 235px;
		}
		@include twoK {
			font-size: 21px;
		}
		@include fourK {
			font-size: 33px;
			line-height: 33px;
			min-width: 524px;
		}

		&:last-child{
			margin-right: 0;
		}
	}
	input[type="submit"] {
		min-width: 0;
		@include fourK {
			line-height: 40px;
		}
	}
}
