.b-widget{
	margin-bottom: 54px;
	img{
		@include twoK {
			width: 100%;
		}
	}
}
.b-widget__title{
	margin: 0 0 25px;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #121212;
//	@include twoK {
//		font-size: 27px;
//	}
//	@include fourK {
//		font-size: 40px;
//		line-height: 45px;
//	}
}
.b-widget__text{
	margin: 0 0 40px;
	font-size: 17px;
	line-height: 21px;
	font-weight: 400;
	color: #121212;
//	@include twoK {
//		font-size: 19px;
//		line-height: 25px;
//	}
//	@include  fourK {
//		font-size: 30px;
//		line-height: 35px;
//	}
}
.b-widget__btn{
	display: block;
	width: 100%;
	height: 53px;
	padding: 8px 16px;
	border: 0;
	outline: none;
	background-color: #d1d4d3;
	font-size: 22px;
	font-weight: 700;
	color: #121212;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
	transition: all .3s;

//	@include  fourK {
//		font-size: 35px;
//		line-height: 40px;
//	}

	&:hover{
		background-color: darken(#d1d4d3, 5%);
	}
}