.b-why-we{
	position: relative;
	padding-left: 130px;
	margin-bottom: 80px;
}
.b-why-we--1{
	padding-left: 121px;
}
.b-why-we--2{
	padding-left: 146px;

	@include huge {
		padding-left: 131px;
	}
}
.b-why-we--3{
	padding-left: 162px;

	@include huge {
		padding-left: 145px;
	}
}
.b-why-we__title{
	margin: 0 0 14px;
	font-size: 26px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #121212;

	@include huge {
		font-size: 19px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	@include twoK {
		font-size: 30px;
		line-height: 30px;
	}
	@include fourK {
		font-size: 35px;
		line-height: 40px;
	}
}
.b-why-we__text{
	margin: 0;
	padding-left: 2px;
	padding-right: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #121212;

	@include huge {
		font-size: 14px;
	}
	@include twoK {
		font-size: 20px;
		line-height: 20px;
	}
	@include fourK {
		font-size: 28px;
		line-height: 35px;
	}
}
.b-why-we__icon{
	position: absolute;
	top: 0; left: 0;
}
.b-why-we__icon--1{
	left: 3px;
	top: 6px;
	img{
		@include fourK {
			transform: scale(1.5);
		}
	}

	@include fourK {
		left: -12px;
		top: 25px;
	}
}
.b-why-we__icon--2{
	top: -13px;
	left: 19px;
	img{
		@include fourK {
			transform: scale(1.5);
		}
	}

	@include huge {
		left: 19px;
	}
	@include fourK {
		top: 8px;
		left: 6px;
	}
}
.b-why-we__icon--3{
	left: 25px;
	top: 3px;
	img{
		@include fourK {
			transform: scale(1.5);
		}
	}

	@include huge {
		left: 8px;
	}
	@include fourK {
		left: 17px;
		top: 29px;
	}
}
.b-why-we-single{
	max-width: 30%;
}