$why-we-pl-sm: 130px;
$why-we-pl-xs: 70px;

.b-why-we{
	position: relative;
	padding-left: 130px;
	margin-bottom: 80px;
    
    @include huge{
        margin-bottom: 0;
        padding-right: 10px;
    }
    @include pc{
        padding-right: 0;
    }
}
.b-why-we--1{
	padding-left: 122px;
    
    @include huge{
        padding-right: 0px;
        padding-left: 98px;
    }  
  /*  @include pc{
        padding-right: 0;
    }  */
    @include pc{
        padding-left: $why-we-pl-sm;    
    }    
    @include small{
        padding-left: $why-we-pl-xs;
    }
}
.b-why-we--2{
	padding-left: 129px;

	@include huge {
		padding-left: 114px;
	}
    @include pc{
        padding-left: $why-we-pl-sm;    
    } 
    @include small{
        padding-left: $why-we-pl-xs;
    }
}
.b-why-we--3{
	padding-left: 160px;

	@include huge {
		padding-left: 148px;
	}
    @include pc{
        padding-left: $why-we-pl-sm;    
    } 
    @include small{
        padding-left: $why-we-pl-xs;
    }
}
.b-why-we__title{
	margin: 0 0 14px;
	font-size: 26px;
	font-weight: 700;
	line-height: 30px;
    letter-spacing: -.01em;
	text-transform: uppercase;
	color: #121212;

//	@include fourK {
//		font-size: 35px;
//		line-height: 40px;
//	}
//	@include twoK {
//		font-size: 30px;
//		line-height: 30px;
//	}
	@include huge {
		font-size: 18.94px;
		line-height: 24px;
		margin-bottom: 7px;
	} 
    @include small{
        font-size: 16.3px;
        line-height: 20px;
//        margin-bottom: 7px;
    }
}
.b-why-we__text{
	margin: 0;
	padding-left: 1px;
	padding-right: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #121212;

//	@include twoK {
//		font-size: 20px;
//		line-height: 20px;
//	}
//	@include fourK {
//		font-size: 28px;
//		line-height: 35px;
//	}
	@include huge {
        line-height: 14px;
		font-size: 11.65px;
	}
	@include pc {
        line-height: 18px;
		font-size: 14px;
	}
    @include small{
        padding-left: 0;
        line-height: 13px;
        font-size: 11.34px;
    }
}
.b-why-we__icon{
	position: absolute;
//	top: 0; left: 0;
    img{
        width: 100%;
        transform: scale(0.9);
            
        @include huge{
            transform: scale(1)
        }   
        @include pc{
            transform: scale(0.9)
        }
      @include small{
        transform: scale(1)
      }
    }
}
.b-why-we__icon--1{
	top: 6px;
	left: 3px;
    width: 89px;

//	@include fourK {
//		left: -12px;
//		top: 25px;
//	}
    @include huge{
        top: 4px;
        left: 13px;
        width: 64px;
    }  
    @include pc{
        width: 89px;
    /*}
    @include note{*/
        top: 1px;
        left: 10px;
    }    
    @include small{
        top: 2px;
        left: 6px;
        width: 53px;
    }
    
	img{
//		@include fourK {
//			transform: scale(1.5);
//		}
	}
}
.b-why-we__icon--2{
	top: -11px;
	left: 17px;
    width: 83px;

//	@include fourK {
//		top: 8px;
//		left: 6px;
//	}
    
 
	@include huge {
        top: -9px;
		left: 34px;
        width: 60px;
	}
    @include pc{
        top: -14px;
        width: 83px;
    /*}
    @include note{*/
        left: 12px;
    }    
    @include small{
        top: -5px;
        left: 7px;
        width: 50px;
    }
    
	img{
//		@include fourK {
//			transform: scale(1.5);
//		}
	}
}
.b-why-we__icon--3{
	top: 3px;
	left: 23px;
    width: 117px;

//	@include fourK {
//		left: 17px;
//		top: 29px;
//	}
	@include huge {
        top: 2px;
		left: 49px;
        width: 86px;
	}
    @include pc{
        width: 117px;
    /*}
    @include note{*/
//        left: 0;
        left: -5px;
    }    
    @include small{
        top: 2px;
    left: -3px;
    width: 64px;
    }
    
	img{
//		@include fourK {
//			transform: scale(1.5);
//		}
	}
}
.b-why-we-single{
	max-width: 30%;
    
	@include huge {
		max-width: 33%;
	}
    /*@include pc{
        max-width: 32%;
    }*/
    @include pc{
        max-width: none;
        min-height: 115px;
        margin-bottom: 30px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }    
    @include small{
        margin-bottom: 23px;
    }
}
#why-we-content{
//	padding-left: 4px;
}