html{
    transform-origin: 0 0;    // for document scale script
    box-sizing:border-box;
    overflow-x: hidden;
    height: 100%;
}
*,:after,:before{box-sizing:inherit}

body {
  margin: 0;
  min-width: 320px;
//  min-width: 1920px;
  width: 100%;
//    height: 100%;
//  overflow-x: hidden;
    overflow: visible;
  font-family: "Open Sans", Arial, sans-serif;
  
  font-size: $fs--base;
  line-height: $lh--base;
  color: $color__base;
  
//	@include fourK {
//		margin-top: 120px;
//	}
    @include pc{
        margin-top: 65px;
        height: calc(100% - 65px);
    }
    @include small{
        margin-top: 42px;
        height: calc(100% - 42px);
    }
    
}
a {
  text-decoration: none;
  color: $color__secondary;
  @extend %transition;
  transition-property: color;
  
  &:hover {
    text-decoration: underline;
  }
}
img {
  max-width: 100%;
}
.row {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top
}

.container{
//  min-width: 1600px;
//  max-width: 1649px;
    width: 1640px;
  margin: 0 auto;
  padding: 0px 10px;
//  margin-left: 7%;
//  padding-right: 19px;
  @include clearfix();
    
  @include huge{
    width: 1200px;
  }
  
//  @include huge {
//    max-width: 1250px;
//  }
  @include pc {
    max-width: 990px;
  }
  @include note {
    max-width: 750px;
//      padding: 0;
  }
  @include tablet {
    max-width: 620px;
  }
  @include small {
//    max-width: 460px;
        max-width: 290px;
      padding: 0;
  }
  @include phone {
//      padding: 0 15px;
  }
//
//  @include small {
//    max-width: 90%;
//  }
//
//  @include phone {
//    width: 100%;
//  }

}
.title{
  margin:0 0 20px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

// Error State For Form Elements

label{
  &.error{
    display: block;
    text-align: right;
    font-size: $fs--small;
    line-height: $lh--small;
    color: $color__secondary;
  }
}

input, 
select, 
textarea {
  &.error{
    border-color: $color__secondary;
    color: $color__secondary;
  }
}
.g-mb--32{
  margin-bottom: 32px !important;
}
.g-menu{
  display: block;
  margin-bottom: 60px;
    
    @include small{
        margin-bottom: 49px;
    }
}
.g-menu__title{
  margin: 0 0 45px;
  font-size: 26px;
  font-weight: 700;
font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .019em;

  @include huge {
    font-size: 19px;
    margin-bottom: 34px;
  }
  @include pc {
    font-size: 21px;
    margin-bottom: 25px;
  }
//  @include fourK {
//    font-size: 35px;
//    line-height: 40px;
//  }
    @include tablet{
        font-size: 18px;
    }
//    @include small{
//        font-size: 18px;
//    }
    @include small{
        margin-bottom: 16px;
    }
}
.g-menu__list{
  margin: 0;
  padding: 0 40px 0 0;
  list-style-type: none;

//  @include huge {
//    padding: 0;
//  }
    @include note{
        padding-right: 0;
    }
}
.g-menu__item,
.g-menu__link{
  font-size: 24px;
  font-weight: 300;
  line-height: 27px;
  color: #fff;

//  @include fourK {
//    font-size: 35px;
//    line-height: 40px;
//  }
    @include huge {
        font-size: 17.48px;
        line-height: 20px;
    }
    @include pc {
        font-size: 16px;
        line-height: 21px;
    }
    @include tablet{
        font-size: 14px;
    }
    @include small{
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.005em;
    }
}
.g-menu__item{
  padding: 4px 0;
  margin-bottom: 4px;
//    line-height: 27px;
    
//    &:nth-child(2n){
//        margin-top: 7px;
//        margin-bottom: 0;
//    }
    @include huge{
        padding: 2px 0;
    }
    @include small{
        padding: 0;
        margin: 2px 0;
    }
}
.g-menu__item span a{
  color: #fff;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.g-menu__item i {
  margin-left: -25px;
  margin-right: 4px;
    
    @include huge{
        margin-right: 2px;
        vertical-align: middle;
    }
    @include small{
//        margin-right: 2px;
        margin-left: 0;
        vertical-align: -4px;
    }
}

.g-rating{
  display: inline-block;
//  background:url('../img/rating.png') 0 0 no-repeat;
  width: 120px;
  height: 20px;
//  overflow: hidden;
    @include note{
        height: 15px;
    }
}
//.g-rating--0{
//  background:url('../img/rating.png') -120px 0 no-repeat;
//}
//.g-rating--1{
//  background:url('../img/rating.png') -92px 0 no-repeat;
//}
//.g-rating--2{
//  background:url('../img/rating.png') -69px 0 no-repeat;
//}
//.g-rating--3{
//  background:url('../img/rating.png') -46px 0 no-repeat;
//}
//.g-rating--4{
//  background:url('../img/rating.png') -23px 0 no-repeat;
//}

.g-text--right{
  text-align: right;
}
.g-text--center{
  text-align: center;
}
.g-h2{
  margin: 0 0 25px;
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #1a1a1a;
}
.g-h3{
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1a1a1a;
}
.g-link{
  color: #121212;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
//  @include twoK{
//    font-size: 24px;
//  }
//  @include  fourK {
//    font-size: 35px;
//  }
    @include huge{
        font-size: 11.65px;
    }
}
.g-link--allinfo{
//  padding-right: 5px;
    position: relative;
  float: right;
  font-weight: 700;
  text-transform: uppercase;
    
    @include small{
        font-size: 14px;
    }
}
.is--relative{
  position: relative!important;
//  padding-right: 13px;
}

.hidden{
    display: none!important;
}
.visible-xs-inline{
    @include phone{
        display: inline !important;
    }
}
.visible-xs-block{
    @include phone{
        display: block !important;
    }
}
.hidden-xs{
    @include phone{
        display: none !important;
    }
}