/**
 *
 * buttons
 *
 **/

.g-btn{
  display: inline-block;
  vertical-align: middle;
  padding: 14px 29px;
  min-width: 128px;
//  margin-right: -.25em;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  outline:none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 300ms linear;
  border: 0;
  background:#0f0f0f;
  color: #ffffff;
  cursor: pointer;

  &:hover{
    background-color: #d6d6d4;
    text-decoration: none;
    color: #0f0f0f;
  }

  span, i {
    vertical-align: middle;
  }
  i {
    margin-right: 8px;
  }

//  @include twoK {
//    font-size: 24px;
//  }
//  @include fourK {
//    font-size: 35px;
//    line-height: 40px;
//  }

}

.g-btn--md{
//  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
}
.g-btn--md-2{
//  font-size: 16px;
  line-height: 20px;
  padding: 14px 22px;
}
.g-btn--link{
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-transform: none;
  border: 0;
  background:transparent;
  color: #1a1a1a;

  &:hover{
    background:transparent;
    text-decoration: underline;
  }
}
.g-btn--fullwide{
  display: block;
  width: 100%;
  margin: 0;
}
.g-btn--bordered{
  padding: 8px 17px;
  background-color: #fff;
  border: 2px solid #0f0f0f;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0f0f;
//  @include twoK {
//    font-size: 20px;
//    line-height: 28px;
//  }
//  @include fourK {
//    font-size: 30px;
//    line-height: 35px;
//  }
  
  &:hover{
    background:  #d6d6d4;
    color: #0f0f0f;
  }
}

.g-btn--bordered-white{
  padding: 8px 18px;
  background-color: #121212;
  border: 2px solid #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  
  &:hover{
    background:  #fff;
    color: #121212;
  }
}

.g-btn--alt{
  background-color: #f5f5f5;
  color: #0f0f0f;
}
.g-btn--grey{
  background-color: #d1d2d3;
  color: #000;

  &:hover{
    background-color: darken(#d1d2d3, 10%);
  }
}

.g-btn--lg{
  min-height: 63px;
  padding: 21px 35px;
  color: #f5f5f5;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}