<!-- MAIN MENU -->
@@include('./../parts/nav.html')
<!-- /MAIN MENU -->
<section class="section_about">
    <!-- breadcrumbs -->
    <div class="b-breadcrumbs">
        <div class="container">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <span class="b-breadcrumbs__item">О НАС</span>
        </div>
    </div>
    <!-- /breadcrumbs -->

    <!-- ABOUT POST -->
    <section class="section b-about">
        <div class="container">
            <h2 class="section__title section__title_about">О НАС</h2>

            <img src="./img/about.jpg" class="b-about__img" alt="">
            <p class="b-about__text">Большинство современных жителей городов слишком загружены своей работой, чтобы отвлечься,и поехать купить цветы, Киев обязательно встретит такого смельчака пробкой и прочими трудностями, на которые придется потратить не мало времени. Интернет магазин цветов в Киеве дает возможность выполнять свою работу и не покидая офиса совершать покупки в интернете, что будет самым настоящим спасением для людей с дефицитом времени. Сегодня не покидая квартиры или офиса можно купить розы в Киеве и не только розы, но еще и практически все группы товаров, начиная от продуктов питания и воды, казанчивая бытовой техникой и мебелью. Услуга доставки делает приобретение вещей в интернет магазинах выгодным и удобным.
            <br><br><br>Идентичная ситуация и с цветами, ведь этот бизнес развивался в обохначенном направлении уже очень давно и доставка букетов уже давно пользуется популярностью. Сегодня каждый интернет магазин цветов позволяет своим клиентам получить цветы, находясь как на работе, так и у себя дома.<br>И iFlores не стал исключением без траты времени и денег на транспортные расходы, каждый желающий может выбрать и приобрести для себя цветы. Интернет магазин Киев и область обеспечивает свежими цветами с возможностью доставки заказчику и адресату. Кроме того, если клиент хочет добавить к букету дополнительный подарок, открытку, игрушку, бутылку вина или шампанского, а также коробку конфет предлагается iFlores – столичный интернет магазин цветов. Киев предлагает самый широкий выбор цветов и вариантов доставки, ведь именно в столице данный товар самый востребованный.
            <br><br><br>Профессиональные флористы магазина Сотрудники магазина iFlores помогут каждому клиенту выбрать цветы, которые лучше всего подойдут для того или иного повода и человека, создавая уникальные авторские композиции из живых цветов. Отдавая предпочтение авторским букетам, сделанным под заказ, можно очень приятно удивить любимого или близкого человека, а также друга и сотрудника, которому преподносятся цветы.</p>
        </div>
    </section>
    <!-- /ABOUT POST -->
    
    <!-- ABOUT ADVANTAGES -->
    <section class="section--advantages_about">
        <div class="container">
            <div class="section__title">5 очевидных преимуществ оформления праздника</div>
            <ol class="b-advantages_about">
                <li class="b-advantage_about">
                    <p class="b-advantage__text_about">Гибкая ценовая политика. Целостное оформление праздника или расстановка ярких стилевых акцентов — выбор за Вами. Для бюджетных мероприятий действуют пакетные предложения. Клиентам, обратившимся повторно, мы предоставляем скидку 10%.</p>
                </li>
                <li class="b-advantage_about">
                    <p class="b-advantage__text_about">Предварительное составление эскиза. С его помощью Вы сможете наглядно представить, как именно будет выглядеть украшение праздника, а также внести возможные коррективы.</p>
                </li>
                <li class="b-advantage_about">
                    <p class="b-advantage__text_about">Эксклюзивный дизайн. Концепция, разработанная для оформления Вашего праздника, будет уникальной. Художники не пишут двух одинаковых картин, а мы не создаем похожих проектов.</p>
                </li>
                <li class="b-advantage_about">
                    <p class="b-advantage__text_about">Отсутствие стилевых ограничений. Романтика прованса, роскошь Чикаго, яркость Энди Уорхола, свободомыслие хиппи, неординарность винтажа, нежность морского бриза или традиция европейского венчания — для стилизованного оформления праздника мы не ставим рамок.</p>
                </li>
                <li class="b-advantage_about">
                    <p class="b-advantage__text_about">Аутентичное декорирование. Текстильное оформление мероприятий шифоном, атласом, органзой, вуалью, шелком, итальянским и французским кружевом, флористическое украшение букетами и удивительными цветочными композициями, использование редких аксессуаров (оригинальные кольца для салфеток, канделябры, акриловые подвески, световые гирлянды, свечи, вазы) — для создания волшебной атмосферы праздника важна каждая деталь.</p>
                </li>
            </ol>
        </div>
    </section>
    <!-- /ABOUT ADVANTAGES -->
</section>
