
<!-- MAIN MENU -->
@@include('./../parts/nav.html')
<!-- /MAIN MENU -->
<section class="section_contacts">
    <!-- breadcrumbs -->
    <div class="b-breadcrumbs">
        <div class="container">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <span class="b-breadcrumbs__item">контакты</span>
        </div>
    </div>
    <!-- /breadcrumbs -->
    
    
    <div class="container">
        <h2 class="section__title section__title_contacts">Контакты</h2>
    </div>
    
    <div class="section--contacts">
        <div class="container">
            <div class="b-contacts">
                <p class="b-contacts__info">
                    Заказы принимаем ежедневно
                    <br><br>Пишите нам на почту:
                    <br><a href="mailto:mail@passiflora.ua">mail@passiflora.ua</a>
                    <br><a href="mailto:passiflora@gmail.com">passiflora@gmail.com</a>
                    <br><br>Звоните нам с 9.00 до 19.00
                    <br>г. Киев
                    <br><a href="tel:+380443835097">(044) 383 50 97</a>
                    <br><a href="tel:+380973566322">(097) 356 63 22</a>
                    <br><br><span class="hidden-tablet">Также можно воспользоваться контактной формой ниже:</span>
                </p>
                <div class="b-contacts__map" id="mapContacts"></div>
                
                <p class="b-contacts__info hidden visible-tablet-block">
                    Также можно воспользоваться контактной формой ниже:
                </p>
                
                <form action="" class="b-contacts__form arcticmodal">
                    <div class="arcticmodal-body">
                        <div class="g-form__field">
                            <input class="g-input" type="name" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="g-form__field">
                            <input class="g-input" type="email" name="email" placeholder="Ваш E-mail">
                        </div>
                        <div class="g-form__field">
                            <input class="g-input" type="tel" name="tel" placeholder="Ваш телефон">
                        </div>
                    </div>
                    <div class="arcticmodal-footer">
                        <div class="g-form__field">
                            <textarea name="message" class="g-input" placeholder="Сообщение нам"></textarea>
                        </div>
                        <div class="g-form__field">
                            <button type="submit" class="g-btn">отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>