
<!-- MAIN MENU -->
@@include('./../parts/nav.html')
<!-- /MAIN MENU -->


<section class="section section--catalog">

    <!-- breadcrumbs -->
    <div class="b-breadcrumbs">
        <div class="container">
            <a href="" class="b-breadcrumbs__item">Главная</a>
            <span class="b-breadcrumbs__item">Оформление мероприятий</span>
        </div>
    </div>
    <!-- /breadcrumbs -->

    <h2 class="section__title">Оформление праздников</h2>
    
    @@include('./../parts/nav-services.html')    
      
    <div class="container">
      
    </div>

</section>

@@include('./../parts/seo-text.html')