.content{
	display: inline-block;
	margin-right: -.25em;
	vertical-align: top;
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
	
	&.with--sidebar{
		width: 900px;
		margin-left: 40px;

/* 		@include pc {
	width: 644px;
}
@include note {
	width: 444px;
	margin-left: 20px;
}
@include tablet {
	width: 100%;
	margin-left: 0;
} */
	}

	p{
		margin: 0 0 25px;
		font-size: 17px;
		font-weight: 400;
		line-height: 21px;
		color: #000000;

/* 		@include pc {
	margin: 0 0 15px;
	font-size: 14px;
	line-height: 20px;
} */
	}
}

.content-block {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}