$headerTopSvgColor: #3D3F3C;
$headerTopSvgColorHover: #0F0F0F;
$svgTransitionTime: 0.2s;

.header{
	position: relative;
	background: url('../img/ht-bg.jpg') repeat #e5e5e5;
//    background-position: calc(50% - 960px) 0;
    @include HDplus {
	    background: url('../img/ht-bg-4k.jpg') top repeat #e5e5e5;
	}
        
//	@include twoK {
//		background-size: 100%;
//	}
//	@include fourK {
//		background-size: 100%;
//	}
    @include pc{
        background: none;
        position: fixed;
        /* top: 0; */
        left: 0;
        right: 0;
        z-index: 1;
    }
}
.header--simple{
	margin-bottom: 63px;
}
.header__logo{
    $width: 22.5%;
    
	position: absolute;
	top: -28px;
//    left: calc(50% - 186px);
    left: calc(50% - #{$width}/2);
	z-index: 40;
//	margin-left: -11.95%;
	width: $width;
//    transform: translateX(-50%);
    
	@include huge {
        $width: 26.5%;
        
        left: calc(50% - #{$width}/2);
        width: $width;
	}
}
.header__top{
	padding: 28px 0 20px;
    min-height: 100px;
//    display: flex;
//    align-items: center;
	@include clearfix();
    
    svg{
        .filled{
            fill: $headerTopSvgColor;
            transition: fill $svgTransitionTime;
        }
        .stroked{
            stroke: $headerTopSvgColor;
            transition: stroke $svgTransitionTime;
        }
    }
    
    @include pc{
        display: none;
    }
}
.header__top-left{
	float: left;
	width: percentage(1/2);
//	padding-left: 0.3%;

/* 	@include huge {
	padding-right: 100px;
} */
}
.header__top-right{
	float: right;
	width: percentage(1/2);
	padding-left: 11.52%;
}
.header__phones{
	float: left;
	margin-right: 33px;

/* 	@include huge {
	margin-right: 20px;
} */
}
.header__location{
	float: left;
}
.header__social{
	float: left;
	padding-top: 6px;
	margin-left: 4.4%;
    margin-right: 50px;
	width: 25%;
    
//    svg:hover{
//        fill: $headerTopSvgColorHover;
//    }

//	@include twoK {
//		margin-right: 167px;
//	}
//	@include fourK {
//		margin-top: 30px;
//	}
 	@include huge {
        margin-right: 0;
        margin-left: 43px;
        width: auto;
    } 
}
.header__account{
//	float: left;
    float: right;
	padding-top: 6px;
//	margin-left: 14.74%;
	margin-right: 53px;
//	@include fourK {
//		margin-top: 17px;
//	}
    @include huge {
        margin-right: 22px;
    }
}
.header__lang{
	float: right;
    margin-right: 2px;
//	@include fourK {
//		margin-top: 17px;
//	}
}
.header__bottom{
    min-height: 60px;
	padding: 15px 0;
	background-color: #0f0f0f;
//	@include twoK {
//      height: 80px;
//      padding-top: 22px;
//      margin-top: 19px;
//	}
//	@include fourK {
//      height: 125px;
//      padding-top: 33px;
//      margin-top: 34px;
//    }
}
.header__bottom-left{
	float: left;
	width: percentage(1/2);
	padding-right: 11.52%;
    
    @include pc{
        display: none;
    }
}
.header__bottom-right{
	float: right;
	width: 50%;
	padding-left: 11.82%;

/* 	@include huge {
	padding-left: 169px;
} */
 	@include pc {
        float: right;
        margin-top: 25px;
        width: 34%;
        padding-left: 0;
    } 
}
.header__menu{}
.header__search{
	float: left;
	margin-left: 29px;
    
 	@include huge {
        margin-left: 43px;
    } 
 	@include pc {
        margin-left: 0;
    } 
}
.header__cart{
	float: right;
	margin-top: -8px;
	margin-bottom: -10px;
    margin-right: 9px;
    
 	@include pc {
        margin-top: -10px;
    } 
    
    .b-cart-icon{
        .filled{
            fill: #FFFFFF;
        }
    }
}