$headerTopSvgColor: #3D3F3C;
$headerTopSvgColorHover: #0F0F0F;
$svgTransitionTime: 0.2s;

.header{
	position: relative;
//	background: url('../img/ht-bg.jpg') repeat #e5e5e5;
    background: url('../img/ht-bg-4k.jpg') top repeat #e5e5e5;
//    background-position: calc(50% - 960px) 0;
//    @include HDplus {
//	}
        
//	@include twoK {
//		background-size: 100%;
//	}
//	@include fourK {
//		background-size: 100%;
//	}
    @include pc{
        background: none;
        position: fixed;
        top: 0; 
        left: 0;
        right: 0;
        z-index: 100;
    }
}
.header--simple{
	margin-bottom: 63px;
}
.header__logo{
//    $width: 22.5%;
    $width: 369px;
    
	position: absolute;
	top: -28px;
//    left: calc(50% - 186px);
    left: calc(50% - #{$width}/2);
	z-index: 40;
//	margin-left: -11.95%;
	width: $width;
//    transform: translateX(-50%);
    
	@include huge {
//        $width: 26.5%;
        $width: 270px;
        
        left: calc(50% - #{$width}/2);
        width: $width;
	}
}
.header__top{
	padding: 28px 0 20px;
    min-height: 100px;
//    display: flex;
//    align-items: center;
	@include clearfix();
    
    svg{
        .filled{
            fill: $headerTopSvgColor;
            transition: fill $svgTransitionTime;
        }
        .stroked{
            stroke: $headerTopSvgColor;
            transition: stroke $svgTransitionTime;
        }
    }
    
    @include pc{
        display: none;
    }
}
.header__top-left{
	float: left;
	width: percentage(1/2);
//	padding-left: 0.3%;

/* 	@include huge {
	padding-right: 100px;
} */
}
.header__top-right{
	float: right;
	width: percentage(1/2);
	padding-left: 11.52%;
}
.header__phones{
	float: left;
	margin-right: 33px;

/* 	@include huge {
	margin-right: 20px;
} */
}
.header__location{
	float: left;
}
.header__social{
	float: left;
	padding-top: 6px;
	margin-left: 4.4%;
    margin-right: 50px;
	width: 25%;
    
//    svg:hover{
//        fill: $headerTopSvgColorHover;
//    }

//	@include twoK {
//		margin-right: 167px;
//	}
//	@include fourK {
//		margin-top: 30px;
//	}
 	@include huge {
        margin-right: 0;
        margin-left: 43px;
        width: auto;
    } 
}
.header__account{
//	float: left;
    float: right;
	padding-top: 6px;
//	margin-left: 14.74%;
	margin-right: 53px;
//	@include fourK {
//		margin-top: 17px;
//	}
    @include huge {
        margin-right: 22px;
    }
}
.header__lang{
	float: right;
    margin-right: 2px;
//	@include fourK {
//		margin-top: 17px;
//	}
}
.header__bottom{
    position: relative;
    min-height: 60px;
    height: 60px;
//	padding: 15px 0;
	background-color: #0f0f0f;
    
//	@include twoK {
//      height: 80px;
//      padding-top: 22px;
//      margin-top: 19px;
//	}
//	@include fourK {
//      height: 125px;
//      padding-top: 33px;
//      margin-top: 34px;
//    }
    @include pc{
        min-height: 65px;
        height: 65px;
        padding: 0;
        
    }
    @include small{
        min-height: 42px;
        height: 42px;
    }
    
    .container{
        position: relative;
        max-width: 100%;
        height: 100%;
        padding: 0 15px;
    }
    
}
.header__bottom-left{
	float: left;
	width: percentage(1/2);
	padding-right: 11.52%;
    padding-top: 15px;
    padding-bottom: 15px;
    
    @include pc{
        display: none;
    }
}
.header__bottom-right{
//    position: relative;
	float: right;
	width: 50%;
    height: 100%;
	padding-left: 11.82%;
    padding-top: 15px;
    padding-bottom: 15px;

/* 	@include huge {
	padding-left: 169px;
} */
 	@include pc {
        float: right;
//        margin-top: 25px;
//        width: 34%;
        padding: 0;
        width: auto;
        height: 100%;
        margin-top: 0;
    }
    @include note{
    }
    @include tablet{
    }
}
.header__menu{}
.header__search{
	float: left;
	margin-left: 29px;
    
 	@include huge {
        margin-left: 43px;
    } 
 	@include pc {
        margin-top: 0;
        margin-left: 0;
        height: 100%;
    } 
 	@include note {
//        margin-top: 10px;
    }
    @include small{
    }
}
.header__cart{
	float: right;
	margin-top: -8px;
	margin-bottom: -10px;
    margin-right: 9px;
    line-height: 33px;
    
// 	@include pc {
//        position: relative;
//        margin-top: -10px;
//    } 
    @include pc{
//        position: static;
        float: left;
        margin-top: 0;
        margin-right: 6px;
        margin-left: 30px;
        height: 100%;
        padding-top: 4px;
    }
 	@include small {
        margin-left: 19px;
    }
    
    .b-cart__wrapper{
        display: none;
//        visibility: hidden;
        position: absolute;
//        top: 42px;
        top: 100%;
        right: -10px;
        z-index: 10;
        overflow: auto;
        width: 288px;
        max-height: calc(100vh - 160px);
        padding: 5px 5px 25px;
//        opacity: 0;
        transition: opacity .3s;
        background-color: #fff;
        box-shadow: 0 0px 5px 1px rgba(76, 64, 40, 0.23);
        
        &:before{    // white triangle
            content: '';
            position: absolute;
            bottom: 100%;
            right: 36px;
            width: 0;
            height: 0;
            border-top: 0;
            border-left: 5.5px solid transparent;
            border-right: 5.5px solid transparent;
            border-bottom: 10px solid #fff;
        }
        
         @include tablet{
//            width: 288px;
            right: 15px;
//            left: 0;
//            margin: auto;
             &:before{
                 right: 8px;
             }
         }
        @include phone{
            max-height: calc(100vh - 42px);
            overflow: auto;
        }
    }
    
//    &:hover{
//        .b-cart__wrapper{
//            visibility: visible;
//            opacity: 1;
//        }
//    }
    
//    .b-cart-icon{
//        .filled{
//            fill: #FFFFFF;
//        }
//    }
}