.header{
	position: relative;
	background: transparent url('../img/ht-bg.jpg') center top repeat;
	@include twoK {
		background-size: 100%;
	}
	@include fourK {
		background-size: 100%;
	}
}
.header--simple{
	margin-bottom: 63px;
}
.header__logo{
	position: absolute;
	top: -32px; left: 50%;
	margin-left: -11.82%;
	z-index: 40;
	width: 22.36%;;
}
.header__top{
	padding: 28px 0;
	@include clearfix();
}
.header__top-left{
	float: left;
	width: percentage(1/2);
	padding-left: 0.3%;

/* 	@include huge {
	padding-right: 100px;
} */
}
.header__top-right{
	float: right;
	width: percentage(1/2);
	padding-left: 11.52%;
}
.header__phones{
	float: left;
	margin-right: 33px;

/* 	@include huge {
	margin-right: 20px;
} */
}
.header__location{
	float: left;
}
.header__social{
	float: left;
	padding-top: 6px;
	margin-left: 4.4%;
    margin-right: 50px;
	width: 25%;

	@include twoK {
		margin-right: 167px;
	}
	@include fourK {
		margin-top: 30px;
	}
/* 	@include huge {
	margin-left: 16px;
	margin-right: 20px;
} */
}
.header__account{
	float: left;
	padding-top: 6px;
	margin-left: 14.8%;
	@include fourK {
		margin-top: 17px;
	}
}
.header__lang{
	float: right;
	@include fourK {
		margin-top: 17px;
	}
}
.header__bottom{
	padding: 15px 0;
	background-color: #0f0f0f;
	@include twoK {
      height: 80px;
      padding-top: 22px;
      margin-top: 19px;
	}
	@include fourK {
      height: 125px;
      padding-top: 33px;
      margin-top: 34px;
    }
}
.header__bottom-left{
	float: left;
	width: percentage(1/2);
	padding-right: 11.52%;
}
.header__bottom-right{
	float: right;
	width: 50%;
	padding-left: 11.82%;

/* 	@include huge {
	padding-left: 169px;
} */
}
.header__menu{}
.header__search{
	float: left;
	margin-left: 35px;
}
.header__cart{
	float: right;
	margin-top: -8px;
	margin-bottom: -10px;
}