.sidebar{
//	display: inline-block;
//	width: 25.9259259259%;
//	float: left;
//	padding-right: 121px;
    margin-right: 115px;
    width: 298px;
    flex-shrink: 0;
//	vertical-align: top;
	
	@include huge{
        margin-right: 95px;
    	width: 220px;
    }

//	@include tablet {
//		width: 100%;
//		margin: 0 0 20px;
//	}

	@include pc{
        margin-right: 25px;
//        margin: 42px auto 0;
//        width: 334px;
    }

    @include note{
        margin: 42px auto 0;
        width: 290px;
    }
}