.sidebar{
//	display: inline-block;
//	width: 25.9259259259%;
//	float: left;
//	padding-right: 121px;
    margin-right: 115px;
    width: 298px;
    flex-shrink: 0;
//	vertical-align: top;


//	@include tablet {
//		width: 100%;
//		margin: 0 0 20px;
//	}
}