<div class="b-cart__item">
    <div class="b-item__img"><img src="./img/cart-product.jpg" alt=""></div>
    <div class="b-item__content">
        <span class="b-item__heading">название букета несколько слов</span>
        <p class="b-item__desc">роза, ромашка, пион, тюльпан</p>
        <div class="b-item__articul">Артикул <span class="b-articul">1234</span></div>
        <div class="b-item__price">800 грн</div>
    </div>
    <div class="b-item__articul">Артикул <span class="b-articul">1234</span></div>
    <div class="b-item__counter">
        <span class="js-qty-minus">-</span>
        <input type="text" name="articul-@@index" data-price="800" class="js-qty-input" value="2">
        <span class="js-qty-plus">+</span>
    </div>
    <div class="b-item__price">800 грн</div>
    <div class="b-item__del"><i class="icon-close-small"></i></div>
</div>  