<form id="feedback" class="g-form js-form-feedback" novalidate="novalidate">
  <h3 class="g-form__title">Форма обратной связи</h3>
  <div class="g-form__inner">
    <div class="g-form__content">

      <div class="row">
        <div class="col col--4-of-12 col--m-12-of-12">

          <div class="g-form__field is--required">
            <input type="text" name="name" placeholder="Ваше имя" class="valid">
          </div>

        </div>
        <div class="col col--4-of-12 col--m-12-of-12">

          <div class="g-form__field is--required">
            <input type="tel" name="phone" placeholder="Номер телефона">
          </div>

        </div>
        <div class="col col--4-of-12 col--m-12-of-12">

          <div class="g-form__field is--required">
            <input type="email" name="email" placeholder="E-mail">
          </div>

        </div>
      </div>
      <div class="g-form__field">
        <textarea name="message" placeholder="Комментарий..."></textarea>
      </div>
    </div>
    <div class="g-form__action">
      <input type="submit" class="g-btn" value="Отправить">
    </div>
  </div>
</form>