  <!-- filter block -->
  <div class="b-filter__block">
    <h4 class="b-filter__title">@@title
        <i class="icon-toggler"></i>
        <i class="icon-toggler-white"></i>
    </h4>
    <ul class="b-filter__block-items">
        @@for (j=1; j<=8; j++){
          <li>
            <input id="r-@@index`+j+`" type="checkbox" name="o-@@index`+j+`" class="g-checkbox">
            <label for="r-@@index1">Элемент выбора</label>
          </li>          
        }
    </ul>
  </div>
  <!-- /filter block -->
  