<div class="b-mobile-nav">
	<div class="js-nav-toggle b-mobile-nav__toggle"><span class="icon-nav">toggle menu</span></div>
	<ul class="b-mobile-nav__list">
    <li class="b-mobile-nav__item">
      <a href="" class="b-mobile-nav__link">Главная</a>
    </li>
    <li class="b-mobile-nav__item">
      <a href="" class="b-mobile-nav__link">Лекарственные травы</a>
    </li>
    <li class="b-mobile-nav__item">
      <a href="" class="b-mobile-nav__link">Оптовым покупателям</a>
    </li>
	</ul>
</div>