<div class="b-mobile-nav js-mobile-nav" style="display:none">
<!--
    <div class="js-nav-toggle b-mobile-nav__toggle is--active">
        <span class="icon-nav">toggle menu</span>
    </div>
-->
    <div class="b-mobile-nav__heading">
        Меню
        <div class="b-wrapper_icon-close js-nav-toggle">
            <i class="icon-close-white"></i>
        </div>
    </div>
    <div class="b-mobile-nav_wrapper js-scrollPane">
        <ul class="b-mobile-nav__list">
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Главная</a>
            </li>
            <li class="b-mobile-nav__item js-accordion__item">
                <span class="b-mobile-nav__link b-mobile-nav__link_accordion js-accordion__trigger">Букеты и композиции</span>
                <ul class="b-mobile-subnav js-accordion__content">
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 1</a>
                    </li>
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 2</a>
                    </li>
                </ul>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Букет невесты</a>
            </li>
            <li class="b-mobile-nav__item js-accordion__item">
                <span class="b-mobile-nav__link b-mobile-nav__link_accordion js-accordion__trigger">Свадебная флористика</span>
                <ul class="b-mobile-subnav js-accordion__content">
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 1</a>
                    </li>
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 2</a>
                    </li>
                </ul>
            </li>
            <li class="b-mobile-nav__item js-accordion__item">
                <span class="b-mobile-nav__link b-mobile-nav__link_accordion js-accordion__trigger">Оформление мероприятий</span>
                <ul class="b-mobile-subnav js-accordion__content">
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 1</a>
                    </li>
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 2</a>
                    </li>
                </ul>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Собрать букет</a>
            </li>
            <li class="b-mobile-nav__item js-accordion__item">
                <span class="b-mobile-nav__link b-mobile-nav__link_accordion js-accordion__trigger">Подарки и призенты</span>
                <ul class="b-mobile-subnav js-accordion__content">
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 1</a>
                    </li>
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Lorem ipsum 2</a>
                    </li>
                </ul>
            </li>
        </ul>
    
        <ul class="b-mobile-nav__list">
            <li class="b-mobile-nav__item js-accordion__item">
                <span class="b-mobile-nav__link b-mobile-nav__link_accordion js-accordion__trigger">Ru</span>
                <ul class="b-mobile-subnav js-accordion__content">
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">En</a>
                    </li>
                    <li class="b-mobile-nav__item">
                        <a href="" class="b-mobile-nav__link">Ukr</a>
                    </li>
                </ul>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link" data-modal="login">Личный кабинет</a>
            </li>
        </ul>
        <ul class="b-mobile-nav__list">
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">О нас</a>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Услуги</a>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Доставка</a>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Оплата</a>
            </li>
            <li class="b-mobile-nav__item">
                <a href="" class="b-mobile-nav__link">Контакты</a>
            </li>
        </ul>
    </div>
</div>