<!-- MODAL -->
<div style="display:none">

    <!-- Callback Form -->
    <div class="b-modal" id="callback">
        <div class="arcticmodal-close"><i class="icon-close"></i></div>

        <form class="b-form js-form-callback">
          <div class="b-form__inner">
            <div class="b-form__header">Заказать звонок</div>
            <div class="b-form__content">
              <div class="b-form__field">
                <i class="icon-user"></i>
                <input type="text" name="name" placeholder="* Ваше имя:">
              </div>
              <div class="b-form__field">
                <i class="icon-phone"></i>
                <input type="tel" name="phone" placeholder="* Контактный телефон:">
              </div>
            </div>
            <div class="b-form__action">
              <input type="submit" class="g-btn" value="Отправить заявку">
            </div>
          </div>
        </form>

    </div>
    <!-- /Callback Form -->


    <!-- Calc Form -->
    <div class="b-modal" id="calc">
      <div class="arcticmodal-close"><i class="icon-close"></i></div>
      <form class="b-form js-form-calc">
        <div class="b-form__inner">
          <div class="b-form__header">Рассчитать стоимость</div>
          <div class="b-form__content">
            <div class="b-form__field">
              <i class="icon-user"></i>
              <input type="text" name="name" placeholder="* Ваше имя:">
            </div>
            <div class="b-form__field">
              <i class="icon-phone"></i>
              <input type="tel" name="phone" placeholder="* Контактный телефон:">
            </div>
            <div class="b-form__field">
              <i class="icon-mail"></i>
              <input type="email" name="email" placeholder="Ваш e-mail:">
            </div>
          </div>
          <div class="b-form__action">
            <input type="submit" class="g-btn" value="Отправить заявку">
          </div>
        </div>
      </form>
    </div>
    <!-- /Calc Form -->
</div>
<!-- /MODAL -->