    <!-- Slider modals -->
    <div class="arcticmodal b-modal_slide" id="sliderSubmit-long">
        <form action="" class="g-form">
            <div class="arcticmodal-close"><i class="icon-close"></i></div>
            
            <div class="arcticmodal-header">Подписаться на рассылку</div>
            
            <div class="arcticmodal-body">
                <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <div class="g-form__field">
                    <input type="text" name="name" class="g-input" placeholder="Ваше имя">
                </div>
                <div class="g-form__field">
                    <input type="email" name="email" class="g-input" placeholder="Ваш e-mail">
                </div>
                <div class="g-form__field">
                    <img src="./img/captcha.png" alt="">
                </div>
                <div class="g-form__field">
                </div>
            </div>
            
            <div class="arcticmodal-footer">
                <div class="g-form__field g-text--left">
                    <button type="submit" class="g-btn">Подписаться</button>
                </div>
            </div>
        </form>
    </div>

    <div class="arcticmodal b-modal_slide" id="sliderSubmit-short">
        <form action="" class="g-form">
            <div class="arcticmodal-close"><i class="icon-close"></i></div>
            
            <div class="arcticmodal-header">
                Получи бесплатно 
                <br>живой подарок 
                <br>стоимостью 190 грн 
                <br>при покупке от 949 грн
            </div>

            <div class="arcticmodal-body">
                <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <div class="g-form__field">
                    <input type="email" name="email" aria-describedby=""class="g-input" placeholder="E-mail для промокода">
                </div>
                <div class="g-form__field">
                </div>
            </div>
                       
            <div class="arcticmodal-footer">
                <div class="g-form__field g-text--left">
                    <button type="submit" class="g-btn">Получить</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /Slider modals -->