<!-- services navigation -->
<div class="b-nav_services js-menu_services">
    <ul class="b-nav__list b-nav__list_services">
        <li class="b-nav__item_services with--subnav">
            <span class="b-nav__link_services">корпоративная флористика</span>
            <ul class="b-nav__sublist b-nav__sublist_services">
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">Вскоре ему повстречался</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">коварный составитель</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">рекламных текстов</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">напоивший его</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">языком и речью</a>
                </li>
            </ul>
        </li>
        <li class="b-nav__item_services with--subnav">
            <span class="b-nav__link_services">детская флористика</span>
            <ul class="b-nav__sublist b-nav__sublist_services">
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">Вскоре ему повстречался</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">коварный составитель</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">рекламных текстов</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">напоивший его</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">языком и речью</a>
                </li>
            </ul>
        </li>
        <li class="b-nav__item_services with--subnav">
            <span class="b-nav__link_services">оформление праздников</span>
            <ul class="b-nav__sublist b-nav__sublist_services">
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">Вскоре ему повстречался</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">коварный составитель</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">рекламных текстов</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">напоивший его</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">языком и речью</a>
                </li>
            </ul>
        </li>
        <li class="b-nav__item_services with--subnav">
            <span class="b-nav__link_services">новогодняя флористика</span>
            <ul class="b-nav__sublist b-nav__sublist_services">
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">Вскоре ему повстречался</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">коварный составитель</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">рекламных текстов</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">напоивший его</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">языком и речью</a>
                </li>
            </ul>
        </li>
        <li class="b-nav__item_services with--subnav">
            <span class="b-nav__link_services">траурная флористика</span>
            <ul class="b-nav__sublist b-nav__sublist_services">
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">Вскоре ему повстречался</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">коварный составитель</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">рекламных текстов</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">напоивший его</a>
                </li>
                <li class="b-nav__sublist-item">
                    <a href="#" class="b-nav__sublist-link b-nav__sublist-link_services">языком и речью</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- /services navigation -->