
<!-- navigation simple -->
<div class="b-nav b-nav--simple">

  <ul class="b-nav__list">
    <li class="b-nav__item b-nav__item--simple-1">
      <a href="" class="b-nav__link">Букеты и композиции</a>
    </li>
    <li class="b-nav__item b-nav__item--simple-2">
      <a href="" class="b-nav__link">Букет невесты</a>
    </li>
    <li class="b-nav__item b-nav__item--simple-3">
      <a href="" class="b-nav__link">Свадебная флористика</a>
    </li>
    <li class="b-nav__item b-nav__item--simple-4">
      <a href="" class="b-nav__link">Оформление мероприятий</a>
    </li>
    <li class="b-nav__item b-nav__item--simple-5">
      <a href="" class="b-nav__link">Собрать букет</a>
    </li>
    <li class="b-nav__item b-nav__item--simple-6">
      <a href="" class="b-nav__link">Подарки и презенты</a>
    </li>
  </ul>

</div>
<!-- /navigation simple -->