<!-- navigation -->
<div class="b-nav b-nav--header">
  <div class="container">
    <ul class="b-nav__list">
      <li class="b-nav__item b-nav__item-1 with--subnav">
        <a href="" class="b-nav__link">Букеты и<br>композиции</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
      <li class="b-nav__item b-nav__item-2 with--subnav">
        <a href="" class="b-nav__link">Букет<br>невесты</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
      <li class="b-nav__item b-nav__item-3 with--subnav">
        <a href="" class="b-nav__link">Свадебная<br>флористика</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
      <li class="b-nav__item b-nav__item-4 with--subnav">
        <a href="" class="b-nav__link">Оформление<br>мероприятий</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
      <li class="b-nav__item b-nav__item-5 with--subnav">
        <a href="" class="b-nav__link">Собрать<br>букет</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
      <li class="b-nav__item b-nav__item-6 with--subnav">
        <a href="" class="b-nav__link">Подарки<br>и презенты</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /navigation -->