
<!-- navigation -->
<div class="b-nav b-nav--header">
  <div class="container">
    <ul class="b-nav__list">
      <li class="b-nav__item b-nav__item-1 with--subnav">
        <a href="" class="b-nav__link">Букеты и композиции</a>
        <ul class="b-nav__sublist">
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Сложившаяся структура </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Организации позволяет </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Выполнять важные </a>
          </li>
          <li class="b-nav__sublist-item">
            <a href="" class="b-nav__sublist-link">Задания по разработке </a>
          </li>
        </ul>
      </li>
      <li class="b-nav__item b-nav__item-2">
        <a href="" class="b-nav__link">Букет невесты</a>
      </li>
      <li class="b-nav__item b-nav__item-3">
        <a href="" class="b-nav__link">Свадебная флористика</a>
      </li>
      <li class="b-nav__item b-nav__item-4">
        <a href="" class="b-nav__link">Оформление мероприятий</a>
      </li>
      <li class="b-nav__item b-nav__item-5">
        <a href="" class="b-nav__link">Собрать букет</a>
      </li>
      <li class="b-nav__item b-nav__item-6">
        <a href="" class="b-nav__link">Подарки<br />и презенты</a>
      </li>
    </ul>
  </div>
</div>
<!-- /navigation -->