
<!-- news item -->
<article class="b-news">
  <a href="" class="b-news__photo">
    <img src="./img/news/n-@@index.jpg" alt="">
  </a>
  <h3 class="b-news__title"><a href="">Значимость этих проблем настолько очевидна</a></h3>
  <div class="b-news__meta">
    <span class="b-news__meta-date">04.01.2017</span>
    <span class="b-news__meta-time">11:21</span>
  </div>
  <p class="b-news__text">Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. С другой стороны новая... Задача организации, в особенности</p>
  <div class="b-news__action">
    <a href="" class="g-btn g-btn--bordered">Читать дальше</a>
  </div>
</article>
<!-- /news item -->