<article class="b-product">
    <div class="b-product__tags">
        <span class="b-product__tag b-product__tag--sale">sale</span>
        <span class="b-product__tag b-product__tag--small">small</span>
        <span class="b-product__tag b-product__tag--new">new</span>
    </div>
    <a href="" class="b-product__photo">
        <img src="./img/products/p-@@index.png" alt="">
    </a>
    <h3 class="b-product__title"><a href="">Букет Красивое Название</a></h3>
    <p class="b-product__desc">роза, ромашка, пион, тюльпан</p>
    
    <div class="b-product__nums">
        <div class="b-product__prices">
            <ins class="b-product__price b-product__price--new">800 <span>грн.</span></ins>
            <ins class="b-product__price b-product__price--old">1 800 <span>грн.</span></ins>
        </div>
        <div class="b-product__qty">
            <span class="b-product__qty-plus js-qty-plus"><i class="icon-qty-up"></i></span>
            <input type="text" value="1" class="js-qty-input">
            <span class="b-product__qty-minus js-qty-minus"><i class="icon-qty-down"></i></span>
        </div>
    </div>
    
    <div class="b-product__action">
        <a href="" class="g-btn g-btn--fullwide">Добавить в корзину</a>
    </div>
    <div class="b-product__rating">
        <i class="g-rating g-rating--3"></i>
    </div>
</article>
