
            <article class="b-responce section--grey" data-stars="3">
                <div class="b-responce__rating">
                    <span class="icon-star icon-star_filled" aria-hidden="true"></span>
                    <span class="icon-star icon-star_filled" aria-hidden="true"></span>
                    <span class="icon-star icon-star_filled" aria-hidden="true"></span>
                    <span class="icon-star" aria-hidden="true"></span>
                    <span class="icon-star" aria-hidden="true"></span>
                </div>
                <div class="b-responce__header">
                    <span class="b-responce__heading">Петр Иванов</span>
                    <time class="b-responce__time">12.03.2015</time>
                </div>
                <p class="b-responce__text">Благодарю за своевременную доставку и прриятные впечатления у получитальницы! Вы молодцы, цветы шикарны! Пока могу утвердительно отметить, что мне посчастливилось найти Вашу компанию и я очень доволен результатом сотрудничества. Надеюсь оно будет долгосрочным! Спасибо вам!</p>
            </article>