
            <article class="b-responce section--grey swiper-slide" data-modal="responceModal-@@index">
                <div class="b-responce__rating js-stars_rating" data-rating="2">
                    <span class="icon-star" aria-hidden="true"></span>
                    <span class="icon-star" aria-hidden="true"></span>
                    <span class="icon-star" aria-hidden="true"></span>
                    <span class="icon-star" aria-hidden="true"></span>
                    <span class="icon-star" aria-hidden="true"></span>
                </div>
                <div class="b-responce__header">
                    <span class="b-responce__heading">Петр Иванов @@index</span>
                    <time class="b-responce__time">12.03.2015</time>
                </div>
                <p class="b-responce__text">Благодарю за своевременную доставку и прриятные впечатления у получитальницы! Вы молодцы, цветы шикарны! Пока могу утвердительно отметить, что мне посчастливилось найти Вашу компанию и я очень доволен результатом сотрудничества. Надеюсь оно будет долгосрочным! Спасибо вам! blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla</p>
                
                <div class="hidden">
                    <div class="b-responce b-responce_modal" id="responceModal-@@index">
                       <div class="arcticmodal-close"><i class="icon-close"></i></div>
                        <div class="b-responce__rating js-stars_rating" data-rating="2">
                            <span class="icon-star" aria-hidden="true"></span>
                            <span class="icon-star" aria-hidden="true"></span>
                            <span class="icon-star" aria-hidden="true"></span>
                            <span class="icon-star" aria-hidden="true"></span>
                            <span class="icon-star" aria-hidden="true"></span>
                        </div>
                        <div class="b-responce__header">
                            <span class="b-responce__heading">Петр Иванов @@index</span>
                            <time class="b-responce__time">12.03.2015</time>
                        </div>
                        <p class="b-responce__text b-responce__text_modal">Благодарю за своевременную доставку и прриятные впечатления у получитальницы! Вы молодцы, цветы шикарны! Пока могу утвердительно отметить, что мне посчастливилось найти Вашу компанию и я очень доволен результатом сотрудничества. Надеюсь оно будет долгосрочным! Спасибо вам! blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla blablabla</p>
                    </div>
                </div>
            </article>