<!-- SLIDER -->
<section class="b-slider js-slider">
	
	<!-- slide 1 -->
	<div class="b-slider__slide">
		
        <div class="container">
		    <img src="./img/slider/s3.jpg" class="b-slide__bg" alt="">
           
            <div class="b-slider__desc b-slider__desc--high">
                <h3>Подписаться на рассылку</h3>
                <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <form action="" class="g-form">
                    <div class="g-form__field">
                        <input type="text" name="name" class="g-input" placeholder="Ваше имя">
                    </div>
                    <div class="g-form__field">
                        <input type="email" name="email" class="g-input" placeholder="Ваш e-mail">
                    </div>
                    <div class="g-form__field">
                        <img src="./img/captcha.png" alt="">
                    </div>
                    <div class="g-form__field g-text--right">
                        <button class="g-btn g-btn--lg">Подписаться</button>
                    </div>
                </form>
                
                <div class="g-text--center">
                    <button href="#" class="g-btn" data-modal="sliderSubmit-long">Подписаться</button>
                </div>
            </div>
            
        </div>

	</div>
	<!-- /slide 1 -->
	
	<!-- slide 2 -->
	<div class="b-slider__slide">
		
        <div class="container">
            <img src="./img/slider/s2.jpg" class="b-slide__bg" alt="">

            <div class="b-slider__desc b-slider__desc--high b-slider__desc--right">
                <h3>Подписаться на рассылку</h3>
                <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <form action="" class="g-form">
                    <div class="g-form__field">
                        <input type="text" name="name" class="g-input" placeholder="Ваше имя">
                    </div>
                    <div class="g-form__field">
                        <input type="email" name="email" class="g-input" placeholder="Ваш e-mail">
                    </div>
                    <div class="g-form__field">
                        <img src="./img/captcha.png" alt="">
                    </div>
                    <div class="g-form__field g-text--right">
                        <button class="g-btn g-btn--lg">Подписаться</button>
                    </div>
                </form>
                
                <div class="g-text--center">
                    <button href="#" class="g-btn" data-modal="sliderSubmit-long">Подписаться</button>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 2 -->
	
	<!-- slide 3 -->
	<div class="b-slider__slide">

        <div class="container">
            <img src="./img/slider/s2.jpg" class="b-slide__bg" alt="">
		
            <div class="b-slider__desc b-slider__desc--mid b-slider__desc--right">
                <h3 class="b-slider__desc-title">
                    Получи бесплатно 
                    <br>живой подарок 
                    <br>стоимостью 190 грн 
                    <br>при покупке от 949 грн
                </h3>
                <p class="b-desc__text_small">Идейные соображения высшего порядка, а также укрепление и развитие структуры!</p>

                <form action="" class="g-form b-slider__desc-action">
                    <div class="g-form__field g-form__field--inline">
                        <input type="email" name="email" aria-describedby=""class="g-input" placeholder="E-mail для промокода">
                        <button class="g-btn g-btn--md-2">Получить</button>
                    </div>
                </form>
                
                <div class="g-text--center">
                    <button href="#" class="g-btn" data-modal="sliderSubmit-short">Получить</button>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 3 -->
	
	<!-- slide 4 -->
	<div class="b-slider__slide">
		
        <div class="container">
            <img src="./img/slider/s1.jpg" class="b-slide__bg" alt="">
            
            <div class="b-slider__desc b-slider__desc--mid">
                <h3 class="b-slider__desc-title">
                    Получи бесплатно 
                    <br>живой подарок 
                    <br>стоимостью 190 грн 
                    <br>при покупке от 949 грн
                </h3>
                <p class="b-desc__text_small">Идейные соображения высшего порядка, а также укрепление и развитие структуры!</p>

                <form action="" class="g-form b-slider__desc-action">
                    <div class="g-form__field g-form__field--inline">
                        <input type="email" name="email" class="g-input" placeholder="E-mail для промокода">
                        <button class="g-btn g-btn--md-2">Получить</button>
                    </div>
                </form>
                
                <div class="g-text--center">
                    <button href="#" class="g-btn" data-modal="sliderSubmit-short">Получить</button>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 4 -->
	
	<!-- slide 5 -->
	<div class="b-slider__slide">
		
        <div class="container">
            <img src="./img/slider/s1.jpg" class="b-slide__bg" alt="">
           
            <div class="b-slider__desc b-slider__desc--low">
                <h3>
                    Получи бесплатно 
                    <br>живой подарок
                </h3>
                <p class="b-desc__text_small">Идейные соображения высшего порядка, а также укрепление и развитие структуры! Соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <div class="g-text--center">
                    <a href="" class="g-btn">Посмотреть</a>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 5 -->
	
	<!-- slide 6 -->
	<div class="b-slider__slide">
		
        <div class="container">
            <img src="./img/slider/s2.jpg" class="b-slide__bg" alt="">
            
            <div class="b-slider__desc b-slider__desc--low b-slider__desc--right">
                <h3>
                    Получи бесплатно 
                    <br>живой подарок
                </h3>
                <p class="b-desc__text_small">Идейные соображения высшего порядка, а также укрепление и развитие структуры! Соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <div class="g-text--center">
                    <a href="" class="g-btn">Посмотреть</a>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 6 -->
	
	<!-- slide 7 -->
	<div class="b-slider__slide">
		
        <div class="container">
            <img src="./img/slider/s2.jpg" class="b-slide__bg" alt="">
            <div class="b-slider__desc b-slider__desc--low b-slider__desc--right">
                <h3>
                    Получи бесплатно 
                    <br>живой подарок
                </h3>
                <p class="b-desc__text_small">Идейные соображения высшего порядка, а также укрепление и развитие структуры! Соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <div class="g-text--center">
                    <a href="" class="g-btn g-btn--grey">Посмотреть</a>
                    <a href="" class="g-btn">В магазин</a>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 7 -->
	
	<!-- slide 8 -->
	<div class="b-slider__slide">
        
        <div class="container">
            <img src="./img/slider/s1.jpg" class="b-slide__bg" alt="">
            
            <div class="b-slider__desc b-slider__desc--low">
                <h3>
                    Получи бесплатно 
                    <br>живой подарок
                </h3>
                <p class="b-desc__text_small">Идейные соображения высшего порядка, а также укрепление и развитие структуры! Соображения высшего порядка, а также укрепление и развитие структуры!</p>
                <div class="g-text--center">
                    <a href="" class="g-btn g-btn--grey">Посмотреть</a>
                    <a href="" class="g-btn">В магазин</a>
                </div>
            </div>
        </div>

	</div>
	<!-- /slide 8 -->
	
	<!-- slide 9 -->
	<div class="b-slider__slide">

        <div class="container">
            <img src="./img/slider/s3.jpg" class="b-slide__bg" alt="">
        </div>

	</div>
	<!-- /slide 9 -->

</section>
<!-- /SLIDER -->