<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>@@if (context.title) { @@title }</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:900&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="./css/style.css">

	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#0f0f0f">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#0f0f0f">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#0f0f0f">

</head>

<body class="page">

	<!-- HEADER -->
	<header class="header @@modifier" id="header">

		<!-- Header TOP -->
		<div class="header__top">
			<div class="container is--relative">

				<!-- Logo -->
				<div class="header__logo">
					<a href="#" class="b-logo">
                        <img src="./img/svg/logo-full.svg" alt="">
					</a>
				</div>
				<!-- /Logo -->

				<div class="header__top-left">
					<!-- phones -->
					<div class="header__phones">
						<ul class="b-phones">
							<li class="b-phones__item"><a href="tel:+38099997112" class="b-phones__link_header">+380 99-99-71-12</a></li>
                            <li class="b-phones__item"><a href="tel:+38044191112" class="b-phones__link_header">+380 44-19-11-12</a></li>
						</ul>
					</div>
					<!-- /phones -->

					<!-- location -->
					<div class="header__location">
						<div class="b-location">
							<div class="b-location__current">Киев</div>
							<div class="b-location__more">Все адреса <a href="" data-modal="promo">здесь</a></div>
						</div>
					</div>
					<!-- /location -->
				</div>

				<div class="header__top-right">
					<!-- social -->
					<div class="header__social">
						<div class="b-social b-social--header">
							<a href="" class="b-social__item">
							    <i class="icon-facebook-black"></i>
							</a>
							<a href="" class="b-social__item">
							    <i class="icon-insta-black"></i>
							</a>
							<a href="" class="b-social__item">
							    <i class="icon-gplus-black"></i>
				            </a>
							<a href="" class="b-social__item">
							    <i class="icon-youtube-black"></i>
							</a>
						</div>
					</div>
					<!-- /social -->

					<!-- lang -->
					<div class="header__lang">
						<div class="b-lang">
							<div class="b-lang__current"><span>Ru</span></div>
							<ul class="b-lang__list">
								<li class="b-lang__item"><a href="">En</a></li>
								<li class="b-lang__item"><a href="">Ua</a></li>
							</ul>
						</div>
					</div>
					<!-- /lang -->
					
					<!-- account -->
					<div class="header__account">
						<a href="" class="b-account" data-modal="login">
							<i class="icon-account-black"></i><span>Личный кабинет</span>
						</a>
					</div>
					<!-- /account -->

				</div>
			</div>
		</div>
		<!-- /Header TOP -->
		
		<!-- Header BOTTOM -->
		<div class="header__bottom">
			<div class="container">
				<div class="header__bottom-left">
					<!-- menu -->
					<nav class="header__menu">
						<ul class="b-info-menu">
							<li class="b-info-menu__item">
								<a href="" class="b-info-menu__link">О нас</a>
							</li>
							<li class="b-info-menu__item">
								<a href="" class="b-info-menu__link">Услуги</a>
							</li>
							<li class="b-info-menu__item">
								<a href="" class="b-info-menu__link">Доставка</a>
							</li>
							<li class="b-info-menu__item">
								<a href="" class="b-info-menu__link">Оплата</a>
							</li>
							<li class="b-info-menu__item">
								<a href="" class="b-info-menu__link">Контакты</a>
							</li>
						</ul>
					</nav>
					<!-- /menu -->
				</div>
				
				<div class="header__bottom-right">
					<!-- search -->
					<div class="header__search">

						<form action="" class="b-search js-search">
                            <div class="b-wrapper_search js-minisearch">
                                <input type="text" name="search" placeholder="Поиск">
                            </div>
                            <button type="submit" class="icon-search"></button>
						</form>

					</div>
					<!-- /search -->

					<!-- cart -->
					<div class="header__cart js-cart">
						<span class="b-cart">
							<i class="icon-cart-white"></i>
							<span class="b-cart__total b-cart__total--white">20</span>
						</span>
                        <div class="js-minicart b-minicart">
                            <div class="b-cart__wrapper">
                                <form action="" class="">
                                    @@for (i=1; i<=5; i++){
                                        @@include('./../parts/minicart-item.html', {"index": "`+i+`"})
                                    }
                                    <div class="b-minicart__total_price">итого: 6 000 грн</div>
                                    <button type="submit" class="g-btn">оформить заказ</button>
                                </form>
                            </div>
                        </div>
					</div>
					<!-- /cart -->
				</div>
				
                <a href="#" class="b-logo b-logo--simple">
                    <img src="./img/svg/logo-simple.svg" alt="">
                </a>
                
			</div>
		</div>
		<!-- /Header BOTTOM -->

	</header>
	<!-- /HEADER -->

	<!-- scroll -->
	<div class="scroll js-fixed-header">
		<div class="container">
			<div class="scroll__logo">
				<a href="" class="b-logo b-logo--simple">
					<img src="./img/logo.png" alt="">
				</a>
			</div>
			<div class="scroll__nav">
				@@include('./../parts/nav-simple.html')
			</div>
			<div class="scroll__cart">
				<a href="/" class="b-cart">
					<i class="icon-cart-black"></i>
					<span class="b-cart__total b-cart__total--black">1</span>
				</a>
			</div>
		</div>
	</div>
	<!-- /scroll -->

	<!-- mobile navigation -->
	@@include('./../parts/mobile_nav.html')
	<!-- /mobile navigation -->
	
