<!--    next modals (IDs) is here: register, login, promo, callback, calc-->
    <!-- Form register -->
    <div class="arcticmodal b-modal_register" id="register">
        <form action="" class="g-form js-form-register">
            <div class="arcticmodal-close"><i class="icon-close"></i></div>
            <div class="arcticmodal-header">Регистрация</div>

            <div class="arcticmodal-body">
                <div class="g-form__field">
                    <input class="g-input" type="email" name="email" placeholder="e-mail">
                </div>
                <div class="g-form__field">
                    <input class="g-input" type="password" name="password" placeholder="пароль">
                </div>
                <div class="g-form__field">
                    <input class="g-input" type="password" name="comparePassword" placeholder="пароль еще раз">
                </div>
                <div class="g-form__field">
                    <button class="g-btn">Дальше</button>
                </div>
            </div>

            <div class="arcticmodal-footer">
                <div class="g-form__alarm">
                    <i class="icon-alarm"></i>
                    <p>ваши личные данные защищены <a href="">политикой приватности</a></p>
                </div>
            </div>

        </form>
    </div>
    <!-- /Form register -->

    <!-- Form login -->
    <div class="arcticmodal b-modal_login" id="login">
        <form action="" class="g-form js-form-login">
            <div class="arcticmodal-close"><i class="icon-close"></i></div>
            <div class="arcticmodal-header">Вход</div>

            <div class="arcticmodal-body">
                <div class="g-form__field">
                    <input class="g-input" type="email" name="email" placeholder="e-mail">
                </div>
                <div class="g-form__field">
                    <input class="g-input" type="password" name="password" placeholder="пароль">
                </div>
                <div class="g-form__field">
                    <button class="g-btn">Войти</button>
                    <a href="" class="g-btn g-btn--link">Забыли пароль?</a>
                </div>
            </div>

            <div class="arcticmodal-footer">
                <div class="g-text--center">
                    <div class="g-h3">
                        или <br> Войти через социальные сети:
                    </div>
                    <div class="b-social_modal">
                        <img src="./img/icons/i-fb.png" alt="">
                        <img src="./img/icons/i-gplus.png" alt="">
                    </div>

                    <a href="" class="g-btn g-btn--link">Нет учетной записи?</a>
                    <a href="" class="g-btn g-btn--md g-btn--alt" data-modal="register">Зарегистрироваться</a>
                </div>
                <div class="g-form__alarm">
                    <i class="icon-alarm"></i>
                    <p>ваши личные данные защищены <a href="">политикой приватности</a></p>
                </div>
            </div>

        </form>
    </div>
    <!-- /Form login -->

    <!-- Form promo -->
    <div class="arcticmodal b-modal_promo" id="promo">
        <div class="arcticmodal-close"><i class="icon-close"></i></div>
        <!--                        <img src="http://placehold.jp/430x510.png"  class="b-modal_promo__left" alt="">-->
        <img src="./img/modals/promo-430.jpg" class="b-modal_promo__left" alt="">

        <div class="b-modal_promo__right">
            <p class="g-h2">Получи бесплатно живой подарок стомостью 190 грн<br>при покупке от 949 грн</p>
            <p class="g-h2"><span>Промокод</span><span>fregood</span></p>
            <form action="" class="g-form js-form-promo">
                <div class="g-form__field g-form__field--inline">
                    <input class="g-input" type="text" name="code" placeholder="Промокод">
                    <button class="g-btn g-btn--alt">Получить</button>
                </div>
            </form>
        </div>

    </div>
    <!-- /Form promo -->
    
    
    <!-- Callback Form -->
    <div class="b-modal b-modal_callback" id="callback">
        <div class="arcticmodal-close"><i class="icon-close"></i></div>

        <form action="" class="b-form js-form-callback">
          <div class="b-form__inner">
            <div class="b-form__header">Заказать звонок</div>
            <div class="b-form__content">
              <div class="b-form__field">
                <i class="icon-user"></i>
                <input type="text" name="name" placeholder="* Ваше имя:">
              </div>
              <div class="b-form__field">
                <i class="icon-phone"></i>
                <input type="tel" name="phone" placeholder="* Контактный телефон:">
              </div>
            </div>
            <div class="b-form__action">
              <input type="submit" class="g-btn" value="Отправить заявку">
            </div>
          </div>
        </form>

    </div>
    <!-- /Callback Form -->

    <!-- Calc Form -->
    <div class="b-modal b-modal_calc" id="calc">
      <div class="arcticmodal-close"><i class="icon-close"></i></div>
      <form action="" class="b-form js-form-calc">
        <div class="b-form__inner">
          <div class="b-form__header">Рассчитать стоимость</div>
          <div class="b-form__content">
            <div class="b-form__field">
              <i class="icon-user"></i>
              <input type="text" name="name" placeholder="* Ваше имя:">
            </div>
            <div class="b-form__field">
              <i class="icon-phone"></i>
              <input type="tel" name="phone" placeholder="* Контактный телефон:">
            </div>
            <div class="b-form__field">
              <i class="icon-mail"></i>
              <input type="email" name="email" placeholder="Ваш e-mail:">
            </div>
          </div>
          <div class="b-form__action">
            <input type="submit" class="g-btn" value="Отправить заявку">
          </div>
        </div>
      </form>
    </div>
    <!-- /Calc Form -->